<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html(lang="en-US")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="description" content="This is a website!")
    meta(name="keywords" content="#love #internet #art #amazing #artist #smile #follow #followme #follow4follow #like4like #food #design #followme #boy #website #colorful #style #colors #beautiful #negativespace, #artsy #style #fashion #pretty #swagger #swagg #handsome #sneakers #shopping #glam #fresh #jeans #dope #pleaselike #shoutouts #please #car #fait #trust #god #sun #sushine #cloudporn #foodporn #shoeporn #nature #summertime #seo")
    meta(name="author" content="Corey Tegeler")
    title Corey Tegeler's Website
    link(type="image/png" rel="icon" href="assets/images/icons/default.png")
    link(type="text/css" rel="stylesheet" href="assets/css/style.css")
    script(type="text/javascript" src="assets/js/jquery.js")
    script(type="text/javascript" src="assets/js/jquery.transit.min.js")
    script(type="text/javascript" src="assets/js/jquery.fittext.js")
    script(type="text/javascript" src="assets/js/paper.js")
    script(type="text/javascript" src="assets/js/script.js")
  body
    .wrapper
      main
        .inner.fit
          p
            i I&nbsp;
            i make&nbsp;
            i and&nbsp;
            i do&nbsp;
            i things&nbsp;
            i in&nbsp;
            i New York&nbsp;
            i and&nbsp;
            i on&nbsp;
            i the&nbsp;
            em
              i Internet
              i .&nbsp;
            i In&nbsp;
            i the&nbsp;
            i past&nbsp;
            i I've&nbsp;
            i made&nbsp;
            i things&nbsp;
            i with&nbsp;
            i my&nbsp;
            i friends
            i ,
            sup
              i
                a(href="#compost-pile")=1
              i ,
              i
                a(href="#pcgd")=3
                | &nbsp;
            em
              i
                a(target="_blank" href="http://www.othermeans.us") Other Means
              i ,
              sup
                i
                  a(href="#iscp")=2
                i ,
                i
                  a(href="#rbma")=4
                  | &nbsp;
            em
              i
                a(target="_blank" href="http://www.okfoc.us") OKFocus
                i ,
            em
              i
                a(target="_blank" href="http://www.pentagram.com") Pentagram
                i ,&nbsp;
            em
              i
                a(target="_blank" href="http://www.purchase.design") Purchase College
              i ,
              sup
                i
                  a(href="#compost-pile")=1
                i ,&nbsp;
                i
                  a(href="#pcgd")=3
                  | &nbsp;
            i and&nbsp;
            i by&nbsp;
            em
              i myself
              i .&nbsp;
            i In&nbsp;
            i the&nbsp;
            i future&nbsp;
            i I'll&nbsp;
            i make&nbsp;
            i and&nbsp;
            i do&nbsp;
            i more&nbsp;
            em
              i things
              i .&nbsp;
            i If&nbsp;
            i you&nbsp;
            i want&nbsp;
            i to&nbsp;
            i know&nbsp;
            i more&nbsp;
            i about&nbsp;
            i these&nbsp;
            i things&nbsp;
            i or&nbsp;
            i you&nbsp;
            i want&nbsp;
            i to&nbsp;
            i make&nbsp;
            i or&nbsp;
            i do&nbsp;
            i a&nbsp;
            i thing&nbsp;
            i with&nbsp;
            em
              i me
              i ,&nbsp;
            i 
              a(href="mailto:email@coreytegeler.com?subject=Hi") email
            i &nbsp;me
            i .
          div.symbols
            i.action.symbol(data-action="peace" data-scale="1.8")
              include assets/images/peace.svg
            i
              | &amp;
            i.action.symbol(data-action="love" data-scale="1.4")
              include assets/images/love.svg
    footer
      .notes
        .note#compost-pile
          .inner
            h1 1 — Compost Pile
            h2 w/ 
              i Danny Fabricant &amp;&nbsp;
              a(href="http://www.brookesinger.net/" target="_blank") Brooke Singer
            p A live visualization of the food scraps collection and compost production at my alma mater, SUNY Purchase. Data is submitted whenever scraps are diverted from landfills and added to the on-campus composting machine, as well as when usable compost is harvested. These data points get illustrated in the pile-like graph, showing the process over time.
            h3 
              a(href="http://compost-pile.org/" target="_blank") compost-pile.org
        .note#iscp
          .sandwich
            .inner
              h1 2 — International Studio &amp; Curatorial Program
              h2 w/  
                a(href="http://othermeans.us" target="_blank") Other Means 
              p The program hosts and supports artists and curators from around the world in their 35 studio building in Brooklyn. The website holds current and archival content on every resident, event and exhibition hosted by ISCP since 1994 and acts as a portal for prospective residents to apply.
              h3 
                a(href="http://www.iscp-nyc.org/" target="_blank") iscp-nyc.org
          .side.left
            .inner
              .top
              .bottom
          .side.right
            .inner
              .top
              .bottom

        .note#ceremony
          .inner
            h1 3 — Af·fixing Ceremony: Four Movements for Essex
            h2 w/  
              a(href="http://www.tionam.com/" target="_blank") Tiona McLodden
            p
              | This piece by Tiona McLodden reanimates the presence and art of Essex Hemphill in 
              i= 'cyberspace'
              |  by featuring a collection of his written and performed works along with stories and praises from his contemporaries. Essex was a prolific poet and activist, and was one of the many gay black men who were disproportionally affected by AIDS during the 1980s epidemic in America. He passed away due to complications relating to the virus 20 years prior to the creation of this piece.
              br
              br
              | The work was created for the 
              a(href='http://www.icaphila.org/') The Institute of Contemporary Art, Philadelphia
              |  which, in observance of World AIDS Day and 
              a(href='https://www.visualaids.org/projects/detail/day-without-art') Visual AIDS' Day Without Art
              | , made visitors of their website experience the web-based art piece before continuing to the museum's homepage. Read 
              a(href="http://www.tionam.com/affixingceremony" target="_blank").
                Tiona's thoughts
              |  on the project.
              
            h3 
              a(href="http://icaphila.org/day-without-art-2015" target="_blank") icaphila.org/day-without-art-2015

        .note#pcgd
          .inner
            h1 4 —
              .svg
                include assets/images/p/1.svg
              .svg
                include assets/images/p/2.svg
              .svg
                include assets/images/p/3.svg
              .svg
                include assets/images/p/4.svg
              .svg
                include assets/images/p/5.svg
              .svg
                include assets/images/p/6.svg
              .svg
                include assets/images/p/7.svg
              |urchase College Graphic Design Dept. </br>
            h2 w/ 
              a(href="http://www.alexapostolides.com/" target="_blank") Alex Apostolides
              | , 
              a(href="https://www.behance.net/brandonshefton" target="_blank") Brandon Shefton
              | , 
              a(href="http://thedis4design.tumblr.com/" target="_blank") Dani Leggard
              | , 
              a(href="http://www.krystt.com/" target="_blank") Krystalina Tom
              | , 
              a(href="http://www.ndichiara.com/" target="_blank") Nicholas DiChiara
              | , 
              a(href="http://www.shannencraftdesign.com/" target="_blank") Shannen Craft
              | ,
              i=" Danny Fabricant & Emily Green"
            p While attending Purchase College, I collaborated with my friends in the Graphic Design, New Media &amp; Arts Management departments to build a website for the school's Graphic Design BFA Program. I developed the website on a custom built content management system that is (partially) 
              a(href="http://www.purchase.design/backend" target="_blank" class="out") open to the public
              |  as an alternative view of the site and its content.
            h3 
              a(href="http://www.purchase.design" target="_blank") purchase.design
        .note#rbma
          .inner
            h1 5 — Red Bull Music Academy
            h2 w/  
              a(href="http://othermeans.us" target="_blank") Other Means
            p
              | Website announcing and introducing the&nbsp;
              img.click.balloon(src="assets/images/2014.png" data-data="confetti")
              | iteration of the&nbsp;
              span.click.toggle.logo(data-data="logo")
                img(src="assets/images/rbma.png")
                span="Red Bull Music Academy"
              | in Tokyo,&nbsp;
              span.click.toggle.japan(data-data="japan")
                img(src="assets/images/japan.gif")
                span#anthem
              | and the 60 artists selected to attend. Click around.
              
            h3 
              a(href="http://rbma2014participants.com" target="_blank") rbma2014participants.com