@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
body {
	font-family: 'Lora', serif;
	margin: 0;
	color:black;
	text-rendering:optimizeLegibility;
	display: table;
	height: 100%;
	width: 100%;
}
main {
	padding: 30px;
	display: table-cell;
	vertical-align: middle;
}
p {
	width:100%;
	max-width: 980px;
	display: table;
	font-weight: 400;
	font-size: 45px;
	line-height: 62px;
	margin: 0 auto 0 auto;
}
a {
	color: inherit;
	display: inline-table;
	text-decoration: underline;
}
/*using `i` to wrap items to jiggle*/
i {
	display: inline-table;
	font-style: normal;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1;
}
/*using `em` to wrap punctuation with preceding word*/
em {
	font-style: normal;
	display: inline-table;
}
.smile {
	text-decoration: none !important;
	border-bottom: none !important;
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.woodenairplanelamp {
	background: yellow;
	color: blue;
}
.woodenairplanelamp a, .woodenairplanelamp a:visited {
	color: red;
}
.blue {
	background: blue;
	color: white;
}
.blue a, .blue a:visited {
	color: yellow;
}
.hypertext {
	background: white;
	color: black;
}
.hypertext a, .hypertext a:visited {
	color: blue;
}
.nighty {
	background: black;
	color: white;
}
.nighty a, .nighty a:visited {
	color: white;
}
.hidden {
	background:	white;
	color:black;
}
.hidden a:not(.smile) {
	color: transparent;
	border-bottom: 3px solid black;
	line-height: 47px;
	text-decoration: none;
}
.hidden a:hover {
	color:black; 
}
.yellow {
	background: yellow;
	color: black;
}
.yellow a, .yellow a:visited {
	color: red;
}
.spring {
	background: SpringGreen;
	color: black;
}
.spring a, .spring a:visited {
	color: black;
}
.fadedflag {
	background: RoyalBlue;
	color: white;
}
.fadedflag a, .fadedflag a:visited {
	color: Tomato;
}
.ronald {
	background: red;
	color: white;
}
.ronald a, .ronald a:visited {
	color: Gold;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	p {
		font-size:85px;
		line-height:100px;
	}
}