@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
body {
	font-family: 'Lora', serif;
	margin: 0;
	font-weight: 400;
	font-size: 45px;
	line-height: 62px;
	text-rendering:optimizeLegibility;
	display: table;
	height: 100%;
	width: 100%;
}
main {
	padding: 30px;
	display: table-cell;
	vertical-align: middle;
}
p {
	width:100%;
	max-width: 980px;
	display: table;
	margin: 0 auto 40px auto;
}
a, a:visited {
	color: inherit;
	text-decoration: none;
	display: inline-table;
}
.s::after {
	content: " ";
}
span {
	display: inline-table;
}
#ps {
	font-size: 20px;
	line-height: 25px;
}
.wrap:hover {
	cursor: pointer;
}
.r {
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1;
}

.woodenairplanelamp {
	background: yellow;
	color: blue;
}
.woodenairplanelamp a, .woodenairplanelamp a:visited {
	color: red;
}
.hypertext {
	background: white;
	color: black;
}
.hypertext a, .hypertext a:visited {
	color: blue;
}
.victoria {
	background: HotPink;
	color: white;
}
.victoria a, .victoria a:visited {
	color: purple;
}
.thxbb {
	background: Gold;
	color: FireBrick;
}
.thxbb a, .thxbb a:visited {
	color: OrangeRed;
}
.jesus {
	background: LimeGreen;
	color: white;
}
.jesus a, .jesus a:visited {
	color: Crimson;
}
.jack {
	background: orange;
	color: black;
}
.jack a, .jack a:visited {
	color: black;
}
.rgb {
	background: white;
}
.rgb *:nth-child(3n+1) {
	color: red;
}
.rgb *:nth-child(3n+2) {
	color: green;
}
.rgb *:nth-child(3n+3) {
	color: blue;
}
.freedom {
	background: white;
	color:blue;
}
.freedom a {
	color: red;
}
.capecod {
	background:	CadetBlue;
	color:white;
}
.capecod a {
	color: PaleGoldenRod; 
}
.hidden {
	background:	white;
	color:black;
}
.hidden a {
	color: transparent;
	transition: color 80ms;
	-o-transition: color 80ms;
	-moz-transition: color 80ms;
	-webkit-transition: color 80ms;
	border-bottom: 2px solid black;
	line-height: 47px;
}
.hidden a:hover {
	color:black; 
	transition: color 60ms;
	-o-transition: color 60ms;
	-moz-transition: color 60ms;
	-webkit-transition: color 60ms;
}
.blur {

}
.blur * {
	-webkit-filter: blur(2.5px);
  	-moz-filter: blur(2.5px);
 	-o-filter: blur(2.5px);
  	-ms-filter: blur(2.5px);
 	filter: blur(2.5px);
}
.blur *:hover {

}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	p {
		font-size:85px;
		line-height:100px;
	}
}