@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@font-face {
	font-family: 'Over There';
	src: url('OverThere.eot');
	src: url('OverThere.eot?#iefix') format('embedded-opentype'),
		url('OverThere.woff') format('woff'),
		url('OverThere.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	height: 100%;
	width: 100%;
	display: block;
}
body {
	font-family: 'Lora', serif;
	margin: auto;
	color:black;
	text-rendering:optimizeLegibility;
	display: table;
	height: 100%;
}
html * {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main {
	padding: 30px;
	display: table-cell;
	vertical-align: middle;
}
p {
	width: 980px;
	display: table;
	font-weight: 400;
	font-size: 45px;
	line-height: 62px;
	text-align: justify;
    text-justify: inter-word;
	margin: 0 auto;
}
a {
	color: inherit;
	display: inline-table;
	text-decoration: none;
	border-bottom: 3px solid;
	line-height: 44px;
}
/*using `i` to wrap items to jiggle*/
i {
	display: inline-table;
	font-style: normal;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1;

	/*transition: transform 300ms 10000ms linear;*/
	/*-moz-transition: -moz-transform 300ms 10000ms linear;*/
	/*-webkit-transition: -webkit-transform 300ms 10000ms linear;*/

  	/*-webkit-animation: 500ms jiggle infinite alternate;*/
}

@-webkit-keyframes jiggle {
/*  0% {
  	-webkit-transform: rotateY(9deg) rotateX(9deg) rotateZ(9deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateZ(9deg) rotateZ(9deg);
  }
  100% {
  	-webkit-transform: rotateY(9deg) rotateX(9deg)  rotateZ(9deg);	
  }*/
}
/*$('i').eq(i).transition({x:x/9, y:y/9, rotate:z/9}, 10);*/
/*using `em` to wrap punctuation with preceding word*/
em {
	font-style: normal;
	display: inline-table;
}
.action {
	text-decoration: none !important;
	border-bottom: none !important;
	/*transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);*/
	cursor: pointer;
}
.action[data-action="peace"] {
	transform: scale(1.8);
	-o-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	margin-right: 20px;
} 
.action[data-action="love"] {
	transform: scale(1.4);
	-o-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	margin-left: 10px;
} 
.action:hover, .action.big {
	cursor: pointer;
}
.woodenairplanelamp {
	background: yellow;
	color: blue;
}
.woodenairplanelamp a, .woodenairplanelamp a:visited {
	color: red;
	border-color: red;
}
.blue {
	background: blue;
	color: white;
}
.blue a, .blue a:visited {
	color: yellow;
	border-color: yellow;
}
.hypertext {
	background: white;
	color: black;
}
.hypertext a, .hypertext a:visited {
	color: blue;
	border-color: blue;
}
.nighty {
	background: black;
	color: white;
}
.nighty a, .nighty a:visited {
	color: white;
	border-color: white;
}
.yellow {
	background: yellow;
	color: black;
}
.yellow a, .yellow a:visited {
	color: red;
	border-color: red;
}
.spring {
	background: SpringGreen;
	color: black;
}
.spring a, .spring a:visited {
	color: black;
	border-color: black;
}
.fadedflag {
	background: RoyalBlue;
	color: white;
}
.fadedflag a, .fadedflag a:visited {
	color: Tomato;
	border-color: Tomato;
}
.ronald {
	background: red;
	color: white;
}
.ronald a, .ronald a:visited {
	color: Gold;
	border-color: Gold;
}
.cactus {
	background: #fdbbcc;
	color: #f81c00;
}
.cactus a, .cactus a:visited {
    border-color: #f81c00;
}
.hidden a {
	color: transparent;
	text-decoration: none;

}
.hidden a.action {
	color: inherit;
}
.hidden a:hover {
	color: inherit; 
}
.shadow {
	text-shadow: 3px 3px 3px;
	-moz-text-shadow: 3px 3px 3px;
	-webkit-text-shadow: 3px 3px 3px;
}
.shadow a:hover {
	text-shadow: 2px 2px 3px;
	-moz-text-shadow: 2px 2px 3px;
	-webkit-text-shadow: 2px 2px 3px;
}
.future {
	font-family: 'Over There';
}
.italic i:not(.action) {
	transform: rotateY(9deg) rotateX(9deg) rotateZ(9deg);
	-moz-transform: rotateY(9deg) rotateX(9deg) rotateZ(9deg);
	-webkit-transform: rotateY(9deg) rotateX(9deg) rotateZ(9deg);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	p {
		text-align: left;
		font-size:85px;
		line-height:100px;
	}
	a {

		line-height:105px;
		border-width: 6px;
	}
}