html {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

	@include md-text;
}
body {
	height: 100%;
	display: block;
	margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	border-bottom: black;
	color:black;
	font-family: 'Lora', serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
html * {
	user-select: none;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 3px solid;
	padding-bottom: 0.1rem;
	&:hover {
		cursor: alias !important;
	}
}
sup {
	@include sm-text;
	margin-left: -0.4rem;
	&:hover {
		cursor: s-resize !important;
	}
	a {
		border: none;
		padding: 0 2px;
		&:hover {
			cursor: s-resize !important;
		}
	}
}

h2, h3, h4, h5 {
	margin: 0;
	display: inline;
	font-weight: normal;
	a {
		color: inherit !important;
		font-style: italic;
	}
}
h3, h5 {
	a {
		color: inherit !important;
		font-style: italic;
		border: none !important;
		// background: none !important;
		text-shadow: none !important;
	}
}
h2 {
	@include xl-text;
	display: table;
	padding: 0 0 10px 0;
	a {
		font-style: normal;
	}
}
h3 {
	@include md-text;
}
small {
	@include sm-text;
}

.inner {
	width: 100%;
	max-width: 980px;
	height: auto;
	display: table;
	margin: 0 auto;
	padding: 1rem;
	position: relative;
}

main {
	// min-height: calc(100vh - 100px);
	padding: 50px 0;
	display: table;
	@include xl-text;
	i, a, em {
		display: inline-table;
		hyphens: manual;
		word-break: break-word;
	}
	.inner {
		display: table-cell;
		padding-bottom: 1.4rem;
		position: relative;
		vertical-align: middle;
		p {
			margin: 0 0 .5em 0;
			&:last-of-type {
				margin: 0;
			}
		}
		a {
			cursor: alias;
			line-height: 0.95rem;
			display: inline;
		}
		i {
			font-style: normal;
			transform-style: preserve-3d;
			perspective: 1000;
			-webkit-perspective: 1000;
		}
		em {
			font-style: normal;
		}
	}
}
.symbols {
	position: absolute;
	left: 30px;
	bottom: 0px;
	display: none;
}
.symbol {
	text-decoration: none !important;
	border-bottom: none !important;
	cursor: pointer;
	&:hover {
		cursor: pointer;
	}
	svg {
		height: auto;
		// height: 1rem !important;
		display: inline-table;
		fill: currentColor;
		transform: translate3d(0,0,0);
		backface-visibility: visible;
		&:hover {
			cursor: pointer;
		}
	}
	&[data-action='peace'] {
		transform: scale(1.8);
		margin-right: 20px;
		svg {
			width: 2rem;
		}
	}
	&[data-action='love'] {
		transform: scale(1.4);
		margin-left: 10px;
		svg {
			width: 1.1rem;
		}
	}
}
.action.big {
	cursor: pointer;
}

.out {
	&:hover {
		cursor: alias !important;
	}
}
.credits {
	@include md-text;
	a {
		position: relative;
		&:hover {
			sub {
				display: block;
			}
		}
	}
	small {
		margin-top: 1em;
		display: block;
	}
	sub {
		width: 100%;
		position: absolute;
		display: none;
		left: 0;
		top: 2em;
		text-align: center;
		text-shadow: unset;
		background: unset;
		@include xs-text;
	}
}
#projects {
	width: 100%;
}
.project {
	width: 100%;
	position: relative;
	@include lg-text;
	* {
		user-select: text;
	}
	a {
		border-bottom-width: 0.1rem;
	}
	p {
		margin: 0 0 1rem 0;
		&:last-child {
			margin: 0;
		}
	}
	.inner {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}
ul {
	margin: 0;
	text-align: left;
}
li {
	margin: 0 0 1rem 0;
	@include md-text;
	&:last-child {
		margin: 0;
	}
}

details {
	margin: 1rem 0 0 0;
	position: relative;
	&[open] {
		padding-bottom: 3rem;
	}
}
summary {
	cursor: pointer;
	text-align: justify;
	@include md-text;
	list-style: none;
	user-select: none !important;
	&::before {
		content: "▼";
		margin-right: .5em;
		font-size: .8em 
	}
	details[open] & {
		opacity: .5;
		position: absolute;
		bottom: 0;
		&::marker, &::-webkit-details-marker {
			color: red;
		}
		&::before {
			content: "▲";
		}
	}

	details:not([open]) & span {
		display: none;
	}
	
}
.about {
	margin: 2rem 0;
	text-align: justify;
	position: relative;
}
.visit {
	display: table;
	@include md-text;
	&:not([href]) {
		opacity: .5;
		pointer-events: none;
		margin-right: 1em;
		float: left;
	}
}
.shadow {
	width: 100%;
	height: 3rem;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 100;
	transition: box-shadow 200ms ease;
	&:hover {
		cursor: s-resize;
	}
	display: none;
}
.toggle {
	*:first-child {
		display: inline-block;
	}
	*:last-child {
		display: none;
	}
	&.toggled {
		*:first-child {
			display: none;
		}
		*:last-child {
			display: inline-block;
		}
	}
}
#currently {
	padding-bottom: 1rem;
	.inner {
		width: calc(100% - 3.5rem);
		max-width: calc(100% - 3.5rem);
		padding: 1rem;
		margin: auto;
		border: .25rem solid;
		display: block;
	}
	.about {
		padding: 0;
	}
}
#coi {
	@include project(#fff, #3594f2, #fff, #fff);
	.bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-image: url(../images/coi1.jpg);
		background-position: center;
		background-size: cover;
		mix-blend-mode: soft-light;
	}
	.inner {
		position: relative;
		z-index: 2;
	}
	a {
		@include underline(rgba(#fff, .5), transparent, rgba(#fff, .5), 2px);
	}
	::selection {
		color: #3594f2;
		background-color: #fff;
	}
}
#four-corners {
	$corner-size: 1.5em;
	$corner-width: .5em;
	$corner-len: 1.5em;
	$corner-gap: 0;
	@include project(#212529, #f4f7fe, #afd5ff, #80bdff);
	position: relative;
	.corner {
		width: $corner-size;
		height: $corner-size;
		position: absolute;
		z-index: 4;
		// filter: drop-shadow(0 0 1px rgba(#212529,.25));
		transform: translate3d(0,0,0);
		&::after, &::before {
			content: '';
			position: absolute;
			z-index: 4;
			background-color: #80bdff;
		}
		&.authorship {
			bottom: $corner-width;
			right: $corner-width;
			&::before {
				width: $corner-width;
				height: $corner-len;
				right: $corner-gap;
				bottom: $corner-gap;
			}
			&::after {
				width: $corner-len;
				height: $corner-width;
				right: $corner-gap;
				bottom: $corner-gap;
			}
		}
		&.backstory {
			bottom: $corner-width;
			left: $corner-width;
			&::before {
				width: $corner-width;
				height: $corner-len;
				left: $corner-gap;
				bottom: $corner-gap;
			}
			&::after {
				width: $corner-len;
				height: $corner-width;
				left: $corner-gap;
				bottom: $corner-gap;
			}
		}
		&.imagery {
			top: $corner-width;
			left: $corner-width;
			&::before {
				width: $corner-width;
				height: $corner-len;
				left: $corner-gap;
				top: $corner-gap;
			}
			&::after {
				width: $corner-len;
				height: $corner-width;
				left: $corner-gap;
				top: $corner-gap;
			}
		}
		&.links {
			top: $corner-width;
			right: $corner-width;
			&::before {
				width: $corner-width;
				height: $corner-len;
				right: $corner-gap;
				top: $corner-gap;
			}
			&::after {
				width: $corner-len;
				height: $corner-width;
				right: $corner-gap;
				top: $corner-gap;
			}
		}
	}
}
#nakba {
	@include project(white, black, #ff0, #ff0);
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
	// background-image: url(../images/ygdp.svg); 
}
#ygdp {
	@include project(#153554, #a8d7ee, #e1e8ea, #f2f2ee);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/ygdp.svg); 
}
#ginling {
	@include project(#f2f0df, #0dae0b, #f2f0df, rgba(#f2f0df,.75));
	background-image: url(../images/ginling.png);
	background-size: 50% auto;
	background-position: 0 top;
	background-repeat: no-repeat;
	h2 a {
		text-shadow: none;
	}
}
#bpl {
	@include project(white, #8199ff, white, rgba(white,.75));
}
#revealer {
	@include project(#346378, #f1f5f7, #fed00b, rgba(#346378,.75));
	.halo {
		width: 5rem;
		height: 5rem;
		left: calc(50% - 2.5rem);
		top: calc(50% - 2.5rem);
		position: absolute;
		border-radius: 50%;
		box-shadow: 0 0 0.5rem 0.25rem #fed00b;
		z-index: 0;
		background: #fed00b;
	}
}
#rz {
	@include project(#d02630, #f8e5e3, #d02630, rgba(#d02630,.75));
	.pattern {
		width: 100%;
		height: 45px;
		background-size: 30px 15px;
		background-image: url(../images/zim.svg);
		position: absolute;
		left: 0;
		&.top {
			top: 1px;
		}
		&.bottom {
			bottom: 1px; 
		}
	}
}
#mts {
	background-image: url(../images/map.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include project(#fafcfc, black, #fafcfc, rgba(#f4f6fa,.75));
}
#iscp {
	position: relative;
	transition: background 150ms ease-in-out;
	@include project(white, #ff5000, white, rgba(white,.75));
	&::before, &::after,
	.outer::before, .outer::after {
		content: '';
		background: white;
		position: absolute;
	}
	&::before, &::after {
		width: 100%;
		height: 6px;
		left: 0;
	}
	&::before {
		top: 4rem;
	}
	&::after {
		bottom: 4rem;	
	}
	.outer {
		width: calc(100% - 8rem);
		margin: auto;
		padding: 4rem;
		&::before, &::after {
			width: 6px;
			height: 100%;
			top: 0;
			border: solid #ff5000;
			border-width: 0 6px;
		}
		&::before {
			left: 4rem;
		}
		&::after {
			right: 4rem;
		}	
	}
	.inner {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}
#compost-pile {
	position: relative;
	overflow: hidden;
	@include project(#fbfffb, #73db71, #fbfffb, rgba(#fbfffb,.75));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/compost.svg); 
}
#affixing-ceremony {
	@include project(black, white, red, red);
}
#pcgd {
	@include project(#FFFF33, #333399, #FFFF33, rgba(#FFFF33,.75));
	.svg {
		width: 1rem;
		height: 1rem;
		position: relative;
		display: inline-block;
		cursor: pointer !important;
		&:hover {
			cursor: pointer !important;
		}
		svg {
			width: 1rem;
			position: absolute;
			bottom: -2px;
			right: 0;
			display: none;
			line-height: 1.2rem;
			vertical-align: baseline;
			fill: #FFFF33 !important;
			* {
				fill: #FFFF33 !important;
			}
			&:first-of-type {
				display: inline-block;
			}
		}
	}
}
#rbma {
	background: #000000;
	color: #FEF035;
	&.confetti {
		background-size: auto;
		background-repeat: repeat;
		background-position: center;
		background-image: url(../images/confetti.gif); 
	}
	a {
		color: #FEF035;
		@include underline(#FEF035, black, #FEF035, 2px);
	}
	.click {
		height: 1.4rem;
		padding-right: 0.5rem;
		img {
			margin-bottom: -0.25rem;
			height: inherit;
		}
		&:hover, .hover, &:hover img {
			cursor: pointer !important;
			animation: wiggle 300ms infinite;
		}
		&.logo {
			span {
				background-image: url(../images/underline.png);
				background-size: 12px 8px;
				background-position: 0px bottom;
				background-repeat: repeat-x;
				text-shadow: -2px 2px 1px black, 2px -2px 1px black, -2px -2px 1px black, 2px 2px 1px black;
			}
		}
		&.japan {
			position: relative;
			&.toggled {
				img {
					display: inline-block !important;
					visibility: hidden;
				}
			}
			iframe {
				position: absolute;
				transform: scale(0.28);
				transform-origin: top left;
				top: -35%;
				left: 0;
				pointer-events: none;
			}
		}
	}
}

main {
	@include style('wooden-airplane-lamp', yellow, blue, red);
	@include style('blue', blue, white, yellow);
	@include style('default', white, black, blue);
	@include style('nighty', black, white, white);
	@include style('spring', SpringGreen, black, black);
	@include style('old-glory', RoyalBlue, white, Tomato);
	@include style('ronald', red, white, Gold);
	@include style('cactus', #fdbbcc, #f81c00, #f81c00);
	@include style('long-sleeve', #f9e312, #00447c, #00447c);
}

.shadow main {
	text-shadow: 3px 3px 3px;
	a:hover {
		text-shadow: 2px 2px 3px;
	}
}
.farsighted main {
	filter: blur(8px);
}
.mini main {
	p {
		transform: scale(.2) !important;
	}
}
.jumbo main {
	p {
		transform: scale(2) !important;
	}
}
.italic main i:not(.symbol) {
	transform: rotateY(12deg) rotateX(12deg) rotateZ(12deg) !important;
}
.from-the-other-side main p {
	transform: rotateY(180deg) !important;
}
.redacted main a, .redacted main em, .redacted main i {
	background: black !important;
	color: transparent !important;
	border: none !important;
	text-shadow: none !important;
}
.fan main i:not(.symbol) {
	animation: fan 200ms infinite linear;
}
main:not(.fan) i:not(.symbol) {	
	transform: rotateZ(0);
}