@mixin style($name, $uno, $dos, $tres) {
	.#{$name} {
		background: $uno;
		color: $dos;
		svg {
			fill: $dos;
		}
		a, a:visited {
			color: $tres;
			border-color: $tres;
		}
		#info {
			background: $dos;
			color: $uno;
			border-color: $uno;
			a, a:visited {
				color: $uno;
				border-color: $uno;
			}
		}
	}
}
