@mixin style($name, $uno, $dos, $tres) {
	body.#{$name} {
		background: $uno;
		color: $dos;
		svg {
			fill: $dos;
		}
		a, a:visited {
			color: $tres;
			@include underline(#{$dos}, #{$uno}, 2px);
		}
		#info {
			background: $dos;
			color: $uno;
			border-color: $uno;
			a, a:visited {
				color: $uno;
				@include underline(#{$uno}, #{$dos}, 2px);
			}
		}
	}
}

@mixin underline($color, $bg, $width) {
	$space: 1px;
	$half: #{$space/2};
	$double: #{$space*2};
	$triple: #{$space*3};
	text-shadow: 0 $space 0 $bg, 0 $double 0 $bg, 0  -#{$space} 0 $bg, 0 -#{$double} 0 $bg, -#{$space} $space 0 $bg, -#{$space} $double 0 $bg, $space $space 0 $bg, $space $double 0 $bg, -#{$space} 0 0 $bg, 0 -#{$triple} 0 $bg;
	background: linear-gradient($bg,$bg),linear-gradient($bg,$bg),linear-gradient($color,$color);
	background-position: 0 87%,100% 87%,0 92%;
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-size: .05em $width,.05em $width,$width $width;
	text-decoration: none;
	border: none;
}