.note#currently
  .inner
    .text
      p
        | Currently making websites for  
        a(href="https://www.bklynlibrary.org/" target="_blank") Brooklyn Public Library
        |, 
        a(href="https://wp.nyu.edu/crm/" target="_blank") The Center for Reli&shy;gion &amp; Media at NYU
        | &nbsp;&amp; 
        a(href="https://ling.yale.edu/" target="_blank") The Depart&shy;ment of Ling&shy;uis&shy;tics at Yale University
        | .
      p
        | For the Spring 2018 semester, I am the Digital Humanities Graduate Assistant at&nbsp;
        a(href="https://barnard.edu/" target="_blank") Barnard College
        | &nbsp;for a course titled&nbsp;
        em Religion in the Archives
        | .