.note#iscp
	.sandwich
		.inner
			h1
				a(href="http://www.iscp-nyc.org/" target="_blank") International Studio &amp; Curatorial Program
			h2 w/  
				a(href="http://othermeans.us" target="_blank") Other Means 
			.text
				p The program hosts and supports artists and curators from around the world in their 35 studio building in Brooklyn. The website holds current and archival content on every resident, event and exhibition hosted by ISCP since 1994 and acts as a portal for prospective residents to apply.
			h3 
				a(href="http://www.iscp-nyc.org/" target="_blank") iscp-nyc.org
	.side.left
		.inner
			.top
			.bottom
	.side.right
		.inner
			.top
			.bottom