.note#qr
	.inner
		h1
			a(href="http://coreytegeler.com/quick-response" target="_blank") Are You Quicker Than A Quick Response?
		.text
			p Browser-based game using a QR reading smartphone as a controller. Modeled on first-person shooting video games, the player must only aim the QR reader at the multicolored QRs to advance to the next level, while avoiding the advertisement codes in black that swarm the browser window. Good luck.

			p Be sure to take your new skills out into the world and avoid as many advertisements as possible!
			
		h3 
			a(href="http://coreytegeler.com/quick-response" target="_blank") coreytegeler.com/quick-response