@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@keyframes fan {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateZ(0); }
  25% {
    transform: rotate(3deg) translateZ(0); }
  50% {
    transform: rotate(0deg) translateZ(0); }
  75% {
    transform: rotate(-3deg) translateZ(0); } }
html {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden; }

body {
  height: 100%;
  display: block;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border-bottom: black;
  color: black;
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1em; }

html * {
  user-select: none; }

.wrapper {
  width: 100%;
  max-width: 980px;
  height: auto;
  min-height: 100%;
  display: table;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  transition: opacity 200ms 200ms ease-in-out; }
  .wrapper.loaded {
    opacity: 1; }
  .wrapper main {
    min-height: calc(100vh - 100px);
    padding: 50px 0;
    display: table; }
    .wrapper main i, .wrapper main a, .wrapper main em {
      display: inline-table;
      hyphens: manual;
      word-break: break-word; }
    .wrapper main .inner {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      font-size: 1em;
      line-height: 1.4em;
      padding-bottom: 1.4em; }
      .wrapper main .inner p {
        margin: 0;
        padding: .5em; }
      .wrapper main .inner a {
        cursor: alias;
        line-height: 0.95em; }
      .wrapper main .inner i {
        font-style: normal;
        transform-style: preserve-3d;
        perspective: 1000; }
      .wrapper main .inner em {
        font-style: normal; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid;
  padding-bottom: 0.1em; }
  a:hover {
    cursor: alias !important; }

sup {
  font-size: 0.5em;
  margin-left: -0.4em; }
  sup:hover {
    cursor: s-resize !important; }
  sup a {
    border: none;
    padding: 0 2px; }
    sup a:hover {
      cursor: s-resize !important; }

.symbols {
  position: absolute;
  left: 30px;
  bottom: 0px; }
  .symbols .symbol {
    text-decoration: none !important;
    border-bottom: none !important; }
    .symbols .symbol:hover {
      cursor: pointer; }
    .symbols .symbol svg {
      height: 1em !important;
      width: auto;
      display: inline-table;
      fill: currentColor; }
      .symbols .symbol svg:hover {
        cursor: pointer; }

.symbol[data-action="peace"] {
  transform: scale(1.8);
  margin-right: 20px; }

.symbol[data-action="love"] {
  transform: scale(1.4);
  margin-left: 10px; }

.symbol:hover, .action.big {
  cursor: pointer; }

#notes {
  width: 100%; }
  #notes .note {
    width: 100%;
    padding: 2em 0;
    position: relative; }
    #notes .note .inner {
      width: 80%;
      max-width: 980px;
      display: table;
      margin: auto; }
    #notes .note#currently {
      padding-bottom: 1em; }
      #notes .note#currently .inner {
        width: calc(100% - 3.5em);
        max-width: calc(100% - 3.5em);
        padding: 1em;
        margin: auto;
        border: .25em solid;
        display: block; }
      #notes .note#currently .text {
        padding: 0; }
    #notes .note#ginling {
      color: #f2f0df;
      background-color: #0dae0b; }
      #notes .note#ginling a {
        color: #f2f0df;
        text-shadow: 0 1px 0 #0dae0b, 0 2px 0 #0dae0b, 0 -1px 0 #0dae0b, 0 -2px 0 #0dae0b, -1px 1px 0 #0dae0b, -1px 2px 0 #0dae0b, 1px 1px 0 #0dae0b, 1px 2px 0 #0dae0b, -1px 0 0 #0dae0b, 0 -3px 0 #0dae0b;
        background: linear-gradient(#0dae0b, #0dae0b), linear-gradient(#0dae0b, #0dae0b), linear-gradient(#f2f0df, #f2f0df);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
        #notes .note#ginling a:hover {
          color: #f2f0df !important; }
      #notes .note#ginling .inner .text .shadow {
        box-shadow: #0dae0b inset 0 -4em 2em -2em; }
      #notes .note#ginling .inner .text.tease .shadow {
        box-shadow: #0dae0b inset 0 -3em 2em -2em; }
    #notes .note#bpl {
      color: white;
      background-color: #8199ff; }
      #notes .note#bpl a {
        color: white;
        text-shadow: 0 1px 0 #8199ff, 0 2px 0 #8199ff, 0 -1px 0 #8199ff, 0 -2px 0 #8199ff, -1px 1px 0 #8199ff, -1px 2px 0 #8199ff, 1px 1px 0 #8199ff, 1px 2px 0 #8199ff, -1px 0 0 #8199ff, 0 -3px 0 #8199ff;
        background: linear-gradient(#8199ff, #8199ff), linear-gradient(#8199ff, #8199ff), linear-gradient(white, white);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
        #notes .note#bpl a:hover {
          color: white !important; }
      #notes .note#bpl .inner .text .shadow {
        box-shadow: #8199ff inset 0 -4em 2em -2em; }
      #notes .note#bpl .inner .text.tease .shadow {
        box-shadow: #8199ff inset 0 -3em 2em -2em; }
    #notes .note#revealer {
      color: #346378;
      background-color: #f1f5f7; }
      #notes .note#revealer a {
        color: #346378;
        text-shadow: 0 1px 0 #f1f5f7, 0 2px 0 #f1f5f7, 0 -1px 0 #f1f5f7, 0 -2px 0 #f1f5f7, -1px 1px 0 #f1f5f7, -1px 2px 0 #f1f5f7, 1px 1px 0 #f1f5f7, 1px 2px 0 #f1f5f7, -1px 0 0 #f1f5f7, 0 -3px 0 #f1f5f7;
        background: linear-gradient(#f1f5f7, #f1f5f7), linear-gradient(#f1f5f7, #f1f5f7), linear-gradient(#fed00b, #fed00b);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
        #notes .note#revealer a:hover {
          color: #346378 !important; }
      #notes .note#revealer .inner .text .shadow {
        box-shadow: #f1f5f7 inset 0 -4em 2em -2em; }
      #notes .note#revealer .inner .text.tease .shadow {
        box-shadow: #f1f5f7 inset 0 -3em 2em -2em; }
      #notes .note#revealer .halo {
        width: 5em;
        height: 5em;
        left: calc(50% - 2.5em);
        top: calc(50% - 2.5em);
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 0.5em 0.25em #fed00b;
        z-index: 0;
        background: #fed00b; }
    #notes .note#rz {
      color: #d02630;
      background-color: #f8e5e3; }
      #notes .note#rz a {
        color: #d02630;
        text-shadow: 0 1px 0 #f8e5e3, 0 2px 0 #f8e5e3, 0 -1px 0 #f8e5e3, 0 -2px 0 #f8e5e3, -1px 1px 0 #f8e5e3, -1px 2px 0 #f8e5e3, 1px 1px 0 #f8e5e3, 1px 2px 0 #f8e5e3, -1px 0 0 #f8e5e3, 0 -3px 0 #f8e5e3;
        background: linear-gradient(#f8e5e3, #f8e5e3), linear-gradient(#f8e5e3, #f8e5e3), linear-gradient(#d02630, #d02630);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
        #notes .note#rz a:hover {
          color: #d02630 !important; }
      #notes .note#rz .inner .text .shadow {
        box-shadow: #f8e5e3 inset 0 -4em 2em -2em; }
      #notes .note#rz .inner .text.tease .shadow {
        box-shadow: #f8e5e3 inset 0 -3em 2em -2em; }
      #notes .note#rz .pattern {
        width: 100%;
        height: 45px;
        background-size: 30px 15px;
        background-image: url(../images/zim.svg);
        position: absolute;
        left: 0; }
        #notes .note#rz .pattern.top {
          top: 1px; }
        #notes .note#rz .pattern.bottom {
          bottom: 1px; }
    #notes .note#mts {
      background-image: url(../images/map.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #fafcfc;
      background-color: black; }
      #notes .note#mts a {
        color: #fafcfc;
        text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
        background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(#fafcfc, #fafcfc);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
        #notes .note#mts a:hover {
          color: #f4f6fa !important; }
      #notes .note#mts .inner .text .shadow {
        box-shadow: black inset 0 -4em 2em -2em; }
      #notes .note#mts .inner .text.tease .shadow {
        box-shadow: black inset 0 -3em 2em -2em; }
    #notes .note#iscp {
      position: relative;
      background: #ff5000;
      color: #fff;
      transition: background 150ms ease-in-out; }
      #notes .note#iscp a {
        color: #fff;
        text-shadow: 0 1px 0 #ff5000, 0 2px 0 #ff5000, 0 -1px 0 #ff5000, 0 -2px 0 #ff5000, -1px 1px 0 #ff5000, -1px 2px 0 #ff5000, 1px 1px 0 #ff5000, 1px 2px 0 #ff5000, -1px 0 0 #ff5000, 0 -3px 0 #ff5000;
        background: linear-gradient(#ff5000, #ff5000), linear-gradient(#ff5000, #ff5000), linear-gradient(#fff, #fff);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
      #notes .note#iscp .inner {
        width: calc(100% - 7em); }
      #notes .note#iscp .sandwich {
        border-top: .2em solid white;
        border-bottom: .2em solid white;
        padding: 1em 0;
        margin: .6em 0; }
      #notes .note#iscp .side {
        position: absolute;
        top: 0;
        width: 3em;
        height: 100%;
        background: #ff5000; }
        #notes .note#iscp .side .inner {
          width: 2.6em;
          height: 100%;
          margin: 0; }
          #notes .note#iscp .side .inner .top {
            width: 2.4em;
            height: 2.6em;
            position: absolute;
            top: 0;
            border-bottom: .2em solid white; }
          #notes .note#iscp .side .inner .bottom {
            width: 2.4em;
            height: 2.6em;
            position: absolute;
            bottom: 0;
            border-top: .2em solid white; }
        #notes .note#iscp .side.left {
          left: 0; }
          #notes .note#iscp .side.left .inner {
            margin-right: .2em;
            border-right: .2em solid white; }
            #notes .note#iscp .side.left .inner .top, #notes .note#iscp .side.left .inner .bottom {
              left: 0; }
        #notes .note#iscp .side.right {
          right: 0; }
          #notes .note#iscp .side.right .inner {
            margin-left: .2em;
            border-left: .2em solid white; }
            #notes .note#iscp .side.right .inner .top, #notes .note#iscp .side.right .inner .bottom {
              right: 0; }
    #notes .note#compost-pile {
      background: #73db71;
      color: #fbfffb;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/compost.svg); }
      #notes .note#compost-pile canvas {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: none; }
      #notes .note#compost-pile a {
        color: #fbfffb;
        text-shadow: 0 1px 0 #73db71, 0 2px 0 #73db71, 0 -1px 0 #73db71, 0 -2px 0 #73db71, -1px 1px 0 #73db71, -1px 2px 0 #73db71, 1px 1px 0 #73db71, 1px 2px 0 #73db71, -1px 0 0 #73db71, 0 -3px 0 #73db71;
        background: linear-gradient(#73db71, #73db71), linear-gradient(#73db71, #73db71), linear-gradient(#fbfffb, #fbfffb);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
    #notes .note#af-fixing-ceremony {
      background: white;
      color: black; }
      #notes .note#af-fixing-ceremony a {
        color: black;
        text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
        background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(red, red);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
    #notes .note#pcgd {
      background: #333399;
      color: #FFFF33; }
      #notes .note#pcgd a {
        color: #FFFF33;
        text-shadow: 0 1px 0 #333399, 0 2px 0 #333399, 0 -1px 0 #333399, 0 -2px 0 #333399, -1px 1px 0 #333399, -1px 2px 0 #333399, 1px 1px 0 #333399, 1px 2px 0 #333399, -1px 0 0 #333399, 0 -3px 0 #333399;
        background: linear-gradient(#333399, #333399), linear-gradient(#333399, #333399), linear-gradient(#FFFF33, #FFFF33);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
      #notes .note#pcgd .svg {
        width: 1em;
        height: 1em;
        position: relative;
        display: inline-block;
        cursor: pointer !important; }
        #notes .note#pcgd .svg:hover {
          cursor: pointer !important; }
        #notes .note#pcgd .svg svg {
          width: 1em;
          position: absolute;
          bottom: -2px;
          right: 0;
          display: none;
          line-height: 1.2em;
          vertical-align: baseline;
          fill: #FFFF33 !important; }
          #notes .note#pcgd .svg svg * {
            fill: #FFFF33 !important; }
          #notes .note#pcgd .svg svg:first-of-type {
            display: inline-block; }
    #notes .note#rbma {
      background: #000000;
      color: #FEF035; }
      #notes .note#rbma.confetti {
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        background-image: url(../images/confetti.gif); }
      #notes .note#rbma a {
        color: #FEF035;
        text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
        background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(#FEF035, #FEF035);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
      #notes .note#rbma .click {
        height: 1.4em;
        padding-right: 0.5em; }
        #notes .note#rbma .click img {
          margin-bottom: -0.25em;
          height: inherit; }
        #notes .note#rbma .click:hover, #notes .note#rbma .click .hover, #notes .note#rbma .click:hover img {
          cursor: pointer !important;
          animation: wiggle 300ms infinite; }
        #notes .note#rbma .click.logo span {
          background-image: url("../images/underline.png");
          background-size: 12px 8px;
          background-position: 0px bottom;
          background-repeat: repeat-x;
          text-shadow: -2px 2px 1px black, 2px -2px 1px black, -2px -2px 1px black, 2px 2px 1px black; }
        #notes .note#rbma .click.japan {
          position: relative; }
          #notes .note#rbma .click.japan.toggled img {
            display: inline-block !important;
            visibility: hidden; }
          #notes .note#rbma .click.japan iframe {
            position: absolute;
            transform: scale(0.28);
            transform-origin: top left;
            top: -35%;
            left: 0;
            pointer-events: none; }
    #notes .note#qr {
      background: white;
      color: black; }
      #notes .note#qr a {
        color: black;
        text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
        background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
        background-position: 0 87%,100% 87%,0 92%;
        background-repeat: no-repeat,no-repeat,repeat-x;
        background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
        text-decoration: none;
        border: none; }
  #notes h1, #notes h2, #notes h3, #notes h4 {
    margin: 0;
    display: inline;
    font-weight: normal; }
    #notes h1 a, #notes h2 a, #notes h3 a, #notes h4 a {
      color: inherit !important;
      font-style: italic; }
  #notes h2 a, #notes h4 a {
    color: inherit !important;
    font-style: italic;
    border: none !important;
    background: none !important;
    text-shadow: none !important; }
  #notes h1 {
    font-size: 1em;
    line-height: 1.1em;
    display: table;
    padding: 0 0 10px 0; }
    #notes h1 a {
      font-style: normal; }
  #notes h2 {
    font-size: 0.55em;
    line-height: 1.5em;
    display: block; }
  #notes h3 {
    font-size: 0.55em;
    line-height: 1em; }
    #notes h3 a {
      text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
      background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      text-decoration: none;
      border: none; }
  #notes h4 {
    display: table;
    font-size: 0.4em;
    line-height: 1.3em;
    margin-top: .5em; }
  #notes .out:hover {
    cursor: alias !important; }
  #notes .text {
    margin: 2em 0;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify;
    position: relative; }
    #notes .text.max {
      height: auto;
      max-height: 16em;
      overflow: hidden;
      transition: max-height 200ms ease; }
      #notes .text.max.tease {
        max-height: 17em; }
        #notes .text.max.tease .shadow {
          height: 4em; }
      #notes .text.max.show {
        max-height: auto;
        height: 100%; }
    #notes .text .shadow {
      width: 100%;
      height: 3em;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 100;
      transition: box-shadow 200ms ease; }
      #notes .text .shadow:hover {
        cursor: s-resize; }
    #notes .text a {
      border-bottom-width: 0.1em; }
    #notes .text p {
      margin: 0 0 1em 0; }
      #notes .text p:last-child {
        margin: 0; }

.toggle *:first-child {
  display: inline-block; }
.toggle *:last-child {
  display: none; }
.toggle.toggled *:first-child {
  display: none; }
.toggle.toggled *:last-child {
  display: inline-block; }

body.wooden-airplane-lamp {
  background: yellow;
  color: blue; }
  body.wooden-airplane-lamp svg {
    fill: blue; }
  body.wooden-airplane-lamp a, body.wooden-airplane-lamp a:visited {
    color: red;
    text-shadow: 0 1px 0 yellow, 0 2px 0 yellow, 0 -1px 0 yellow, 0 -2px 0 yellow, -1px 1px 0 yellow, -1px 2px 0 yellow, 1px 1px 0 yellow, 1px 2px 0 yellow, -1px 0 0 yellow, 0 -3px 0 yellow;
    background: linear-gradient(yellow, yellow), linear-gradient(yellow, yellow), linear-gradient(blue, blue);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.wooden-airplane-lamp #info {
    background: blue;
    color: yellow;
    border-color: yellow; }
    body.wooden-airplane-lamp #info a, body.wooden-airplane-lamp #info a:visited {
      color: yellow;
      text-shadow: 0 1px 0 blue, 0 2px 0 blue, 0 -1px 0 blue, 0 -2px 0 blue, -1px 1px 0 blue, -1px 2px 0 blue, 1px 1px 0 blue, 1px 2px 0 blue, -1px 0 0 blue, 0 -3px 0 blue;
      background: linear-gradient(blue, blue), linear-gradient(blue, blue), linear-gradient(yellow, yellow);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.blue {
  background: blue;
  color: white; }
  body.blue svg {
    fill: white; }
  body.blue a, body.blue a:visited {
    color: yellow;
    text-shadow: 0 1px 0 blue, 0 2px 0 blue, 0 -1px 0 blue, 0 -2px 0 blue, -1px 1px 0 blue, -1px 2px 0 blue, 1px 1px 0 blue, 1px 2px 0 blue, -1px 0 0 blue, 0 -3px 0 blue;
    background: linear-gradient(blue, blue), linear-gradient(blue, blue), linear-gradient(white, white);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.blue #info {
    background: white;
    color: blue;
    border-color: blue; }
    body.blue #info a, body.blue #info a:visited {
      color: blue;
      text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
      background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(blue, blue);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.default {
  background: white;
  color: black; }
  body.default svg {
    fill: black; }
  body.default a, body.default a:visited {
    color: blue;
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
    background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.default #info {
    background: black;
    color: white;
    border-color: white; }
    body.default #info a, body.default #info a:visited {
      color: white;
      text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
      background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(white, white);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.nighty {
  background: black;
  color: white; }
  body.nighty svg {
    fill: white; }
  body.nighty a, body.nighty a:visited {
    color: white;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
    background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(white, white);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.nighty #info {
    background: white;
    color: black;
    border-color: black; }
    body.nighty #info a, body.nighty #info a:visited {
      color: black;
      text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
      background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.spring {
  background: SpringGreen;
  color: black; }
  body.spring svg {
    fill: black; }
  body.spring a, body.spring a:visited {
    color: black;
    text-shadow: 0 1px 0 SpringGreen, 0 2px 0 SpringGreen, 0 -1px 0 SpringGreen, 0 -2px 0 SpringGreen, -1px 1px 0 SpringGreen, -1px 2px 0 SpringGreen, 1px 1px 0 SpringGreen, 1px 2px 0 SpringGreen, -1px 0 0 SpringGreen, 0 -3px 0 SpringGreen;
    background: linear-gradient(SpringGreen, SpringGreen), linear-gradient(SpringGreen, SpringGreen), linear-gradient(black, black);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.spring #info {
    background: black;
    color: SpringGreen;
    border-color: SpringGreen; }
    body.spring #info a, body.spring #info a:visited {
      color: SpringGreen;
      text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
      background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(SpringGreen, SpringGreen);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.old-glory {
  background: RoyalBlue;
  color: white; }
  body.old-glory svg {
    fill: white; }
  body.old-glory a, body.old-glory a:visited {
    color: Tomato;
    text-shadow: 0 1px 0 RoyalBlue, 0 2px 0 RoyalBlue, 0 -1px 0 RoyalBlue, 0 -2px 0 RoyalBlue, -1px 1px 0 RoyalBlue, -1px 2px 0 RoyalBlue, 1px 1px 0 RoyalBlue, 1px 2px 0 RoyalBlue, -1px 0 0 RoyalBlue, 0 -3px 0 RoyalBlue;
    background: linear-gradient(RoyalBlue, RoyalBlue), linear-gradient(RoyalBlue, RoyalBlue), linear-gradient(white, white);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.old-glory #info {
    background: white;
    color: RoyalBlue;
    border-color: RoyalBlue; }
    body.old-glory #info a, body.old-glory #info a:visited {
      color: RoyalBlue;
      text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
      background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(RoyalBlue, RoyalBlue);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.ronald {
  background: red;
  color: white; }
  body.ronald svg {
    fill: white; }
  body.ronald a, body.ronald a:visited {
    color: Gold;
    text-shadow: 0 1px 0 red, 0 2px 0 red, 0 -1px 0 red, 0 -2px 0 red, -1px 1px 0 red, -1px 2px 0 red, 1px 1px 0 red, 1px 2px 0 red, -1px 0 0 red, 0 -3px 0 red;
    background: linear-gradient(red, red), linear-gradient(red, red), linear-gradient(white, white);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.ronald #info {
    background: white;
    color: red;
    border-color: red; }
    body.ronald #info a, body.ronald #info a:visited {
      color: red;
      text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
      background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(red, red);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.cactus {
  background: #fdbbcc;
  color: #f81c00; }
  body.cactus svg {
    fill: #f81c00; }
  body.cactus a, body.cactus a:visited {
    color: #f81c00;
    text-shadow: 0 1px 0 #fdbbcc, 0 2px 0 #fdbbcc, 0 -1px 0 #fdbbcc, 0 -2px 0 #fdbbcc, -1px 1px 0 #fdbbcc, -1px 2px 0 #fdbbcc, 1px 1px 0 #fdbbcc, 1px 2px 0 #fdbbcc, -1px 0 0 #fdbbcc, 0 -3px 0 #fdbbcc;
    background: linear-gradient(#fdbbcc, #fdbbcc), linear-gradient(#fdbbcc, #fdbbcc), linear-gradient(#f81c00, #f81c00);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.cactus #info {
    background: #f81c00;
    color: #fdbbcc;
    border-color: #fdbbcc; }
    body.cactus #info a, body.cactus #info a:visited {
      color: #fdbbcc;
      text-shadow: 0 1px 0 #f81c00, 0 2px 0 #f81c00, 0 -1px 0 #f81c00, 0 -2px 0 #f81c00, -1px 1px 0 #f81c00, -1px 2px 0 #f81c00, 1px 1px 0 #f81c00, 1px 2px 0 #f81c00, -1px 0 0 #f81c00, 0 -3px 0 #f81c00;
      background: linear-gradient(#f81c00, #f81c00), linear-gradient(#f81c00, #f81c00), linear-gradient(#fdbbcc, #fdbbcc);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

body.long-sleeve {
  background: #f9e312;
  color: #00447c; }
  body.long-sleeve svg {
    fill: #00447c; }
  body.long-sleeve a, body.long-sleeve a:visited {
    color: #00447c;
    text-shadow: 0 1px 0 #f9e312, 0 2px 0 #f9e312, 0 -1px 0 #f9e312, 0 -2px 0 #f9e312, -1px 1px 0 #f9e312, -1px 2px 0 #f9e312, 1px 1px 0 #f9e312, 1px 2px 0 #f9e312, -1px 0 0 #f9e312, 0 -3px 0 #f9e312;
    background: linear-gradient(#f9e312, #f9e312), linear-gradient(#f9e312, #f9e312), linear-gradient(#00447c, #00447c);
    background-position: 0 87%,100% 87%,0 92%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
    text-decoration: none;
    border: none; }
  body.long-sleeve #info {
    background: #00447c;
    color: #f9e312;
    border-color: #f9e312; }
    body.long-sleeve #info a, body.long-sleeve #info a:visited {
      color: #f9e312;
      text-shadow: 0 1px 0 #00447c, 0 2px 0 #00447c, 0 -1px 0 #00447c, 0 -2px 0 #00447c, -1px 1px 0 #00447c, -1px 2px 0 #00447c, 1px 1px 0 #00447c, 1px 2px 0 #00447c, -1px 0 0 #00447c, 0 -3px 0 #00447c;
      background: linear-gradient(#00447c, #00447c), linear-gradient(#00447c, #00447c), linear-gradient(#f9e312, #f9e312);
      background-position: 0 87%,100% 87%,0 92%;
      background-repeat: no-repeat,no-repeat,repeat-x;
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      text-decoration: none;
      border: none; }

.shadow main {
  text-shadow: 3px 3px 3px; }
  .shadow main a:hover {
    text-shadow: 2px 2px 3px; }

.farsighted main {
  filter: blur(8px); }

.mini main p {
  transform: scale(0.2) !important; }

.jumbo main p {
  transform: scale(2) !important; }

.italic main i:not(.symbol) {
  transform: rotateY(12deg) rotateX(12deg) rotateZ(12deg) !important; }

.from main-the-other-side i:not(.action) {
  transform: rotateX(180deg) rotateY(180deg) !important; }

.redacted main a, .redacted main em, .redacted main i {
  background: black !important;
  color: transparent !important;
  border: none !important;
  text-shadow: none !important; }

.fan main i:not(.symbol) {
  animation: fan 200ms infinite linear; }

main:not(.fan) i:not(.symbol) {
  transform: rotateZ(0); }

/*# sourceMappingURL=prestyle.css.map */
