@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@-webkit-keyframes fan {
  0% {
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg); } }
@-moz-keyframes fan {
  0% {
    -moz-transform: rotateZ(0deg); }
  100% {
    -moz-transform: rotateZ(360deg); } }
@-ms-keyframes fan {
  0% {
    -ms-transform: rotateZ(0deg); }
  100% {
    -ms-transform: rotateZ(360deg); } }
@-o-keyframes fan {
  0% {
    -o-transform: rotateZ(0deg); }
  100% {
    -o-transform: rotateZ(360deg); } }
@keyframes fan {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateZ(0); }
  25% {
    transform: rotate(3deg) translateZ(0); }
  50% {
    transform: rotate(0deg) translateZ(0); }
  75% {
    transform: rotate(-3deg) translateZ(0); } }
@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(0deg) translateZ(0); }
  25% {
    -moz-transform: rotate(3deg) translateZ(0); }
  50% {
    -moz-transform: rotate(0deg) translateZ(0); }
  75% {
    -moz-transform: rotate(-3deg) translateZ(0); } }
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0); }
  25% {
    -webkit-transform: rotate(3deg) translateZ(0); }
  50% {
    -webkit-transform: rotate(0deg) translateZ(0); }
  75% {
    -webkit-transform: rotate(-3deg) translateZ(0); } }
html {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden; }

body {
  height: 100%;
  display: block;
  margin: auto;
  overflow-y: scroll;
  border-bottom: black;
  color: black;
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1em; }

html * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrapper {
  width: 100%;
  max-width: 980px;
  height: auto;
  min-height: 100%;
  display: table;
  margin: 0 auto;
  position: relative;
  opacity: 0; }
  .wrapper main {
    min-height: calc(100vh - 100px);
    padding: 50px 0;
    display: table; }
    .wrapper main .inner {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      font-size: 1em;
      line-height: 1.4em;
      padding-bottom: 1.4em; }
      .wrapper main .inner p {
        margin: 0;
        text-align: justify;
        padding: 30px; }
      .wrapper main .inner a {
        cursor: alias;
        line-height: 0.95em; }
      .wrapper main .inner i {
        display: inline-table;
        font-style: normal;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -webkit-perspective: 1000; }
      .wrapper main .inner em {
        font-style: normal;
        display: inline-table; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid;
  padding-bottom: 0.1em; }

sup {
  font-size: 0.5em;
  margin-left: -0.4em; }
  sup:hover {
    cursor: s-resize !important; }
  sup a {
    border: none;
    padding: 0 2px; }
    sup a:hover {
      cursor: s-resize !important; }

.symbols {
  position: absolute;
  left: 30px;
  bottom: 0px; }
  .symbols .symbol {
    text-decoration: none !important;
    border-bottom: none !important; }
    .symbols .symbol:hover {
      cursor: pointer; }
    .symbols .symbol svg {
      height: 1em !important;
      width: auto;
      display: inline-table;
      fill: currentColor; }
      .symbols .symbol svg:hover {
        cursor: pointer; }

.symbol[data-action="peace"] {
  transform: scale(1.8);
  -o-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  margin-right: 20px; }

.symbol[data-action="love"] {
  transform: scale(1.4);
  -o-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  margin-left: 10px; }

.symbol:hover, .action.big {
  cursor: pointer; }

.notes {
  width: 100%; }
  .notes .note {
    width: 100%;
    padding: 2em 0; }
    .notes .note .inner {
      width: 80%;
      max-width: 980px;
      display: table;
      margin: auto; }
    .notes .note#info .text {
      padding: 0; }
    .notes .note#iscp {
      position: relative;
      background: #ff5000;
      color: #ffffff;
      -webkit-transition: background 150ms ease-in-out;
      -moz-transition: background 150ms ease-in-out;
      transition: background 150ms ease-in-out; }
      .notes .note#iscp a {
        color: #ffffff;
        border-color: #ffffff; }
      .notes .note#iscp .inner {
        width: calc(100% - 7em); }
      .notes .note#iscp .sandwich {
        border-top: .2em solid white;
        border-bottom: .2em solid white;
        padding: 1em 0;
        margin: .6em 0; }
      .notes .note#iscp .side {
        position: absolute;
        top: 0;
        width: 3em;
        height: 100%;
        background: #ff5000; }
        .notes .note#iscp .side .inner {
          width: 2.6em;
          height: 100%;
          margin: 0; }
          .notes .note#iscp .side .inner .top {
            width: 2.4em;
            height: 2.6em;
            position: absolute;
            top: 0;
            border-bottom: .2em solid white; }
          .notes .note#iscp .side .inner .bottom {
            width: 2.4em;
            height: 2.6em;
            position: absolute;
            bottom: 0;
            border-top: .2em solid white; }
        .notes .note#iscp .side.left {
          left: 0; }
          .notes .note#iscp .side.left .inner {
            margin-right: .2em;
            border-right: .2em solid white; }
            .notes .note#iscp .side.left .inner .top, .notes .note#iscp .side.left .inner .bottom {
              left: 0; }
        .notes .note#iscp .side.right {
          right: 0; }
          .notes .note#iscp .side.right .inner {
            margin-left: .2em;
            border-left: .2em solid white; }
            .notes .note#iscp .side.right .inner .top, .notes .note#iscp .side.right .inner .bottom {
              right: 0; }
    .notes .note#compost-pile {
      background: #73db71;
      color: #fbfffb;
      position: relative;
      overflow: hidden; }
      .notes .note#compost-pile canvas {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10; }
      .notes .note#compost-pile a {
        color: #fbfffb;
        border-color: #fbfffb; }
    .notes .note#ceremony {
      background: white;
      color: black; }
      .notes .note#ceremony a {
        color: red;
        border-color: red; }
    .notes .note#pcgd {
      background: #333399;
      color: #FFFF33; }
      .notes .note#pcgd a {
        color: #FFFF33;
        border-color: #FFFF33; }
      .notes .note#pcgd .svg {
        width: 1em;
        height: 1em;
        position: relative;
        display: none;
        cursor: pointer !important; }
        .notes .note#pcgd .svg:hover {
          cursor: pointer !important; }
        .notes .note#pcgd .svg svg {
          width: 1em;
          position: absolute;
          bottom: -2px;
          right: 0;
          display: inline-block;
          line-height: 1.2em;
          vertical-align: baseline;
          fill: #FFFF33 !important; }
          .notes .note#pcgd .svg svg * {
            fill: #FFFF33 !important; }
        .notes .note#pcgd .svg:first-of-type {
          display: inline-block; }
    .notes .note#rbma {
      background: #000000;
      color: #FEF035; }
      .notes .note#rbma.confetti {
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        background-image: url(../images/confetti.gif); }
      .notes .note#rbma a {
        color: #FEF035;
        border-color: #FEF035; }
      .notes .note#rbma .click {
        height: 1.4em;
        padding-right: 0.5em; }
        .notes .note#rbma .click img {
          margin-bottom: -0.25em;
          height: inherit; }
        .notes .note#rbma .click:hover, .notes .note#rbma .click .hover, .notes .note#rbma .click:hover img {
          cursor: pointer !important;
          animation: wiggle 300ms infinite;
          -moz-animation: wiggle 300ms infinite;
          -webkit-animation: wiggle 300ms infinite; }
        .notes .note#rbma .click.logo span {
          background-image: url("../images/underline.png");
          background-size: 12px 8px;
          background-position: 0px bottom;
          background-repeat: repeat-x;
          text-shadow: -2px 2px 1px black, 2px -2px 1px black, -2px -2px 1px black, 2px 2px 1px black;
          -moz-text-shadow: -2px 2px 1px black, 2px -2px 1px black, -2px -2px 1px black, 2px 2px 1px black;
          -webkit-text-shadow: -2px 2px 1px black, 2px -2px 1px black, -2px -2px 1px black, 2px 2px 1px black; }
        .notes .note#rbma .click.japan {
          position: relative; }
          .notes .note#rbma .click.japan.toggled img {
            display: inline-block !important;
            visibility: hidden; }
          .notes .note#rbma .click.japan iframe {
            position: absolute;
            transform: scale(0.28);
            -moz-transform: scale(0.28);
            -webkit-transform: scale(0.28);
            transform-origin: top left;
            -moz-transform-origin: top left;
            -webkit-transform-origin: top left;
            top: -35%;
            left: 0;
            pointer-events: none; }
    .notes .note#qr {
      background: white;
      color: black; }
      .notes .note#qr a {
        color: black;
        border-color: black; }
  .notes h1 {
    font-size: 1em;
    line-height: 1.1em;
    font-weight: normal;
    margin: 0;
    display: inline;
    padding-right: 10px; }
  .notes h2 {
    font-size: 0.55em;
    line-height: 1em;
    font-weight: normal;
    margin: 0;
    display: inline; }
    .notes h2 a {
      color: inherit !important;
      font-style: italic;
      border: none; }
      .notes h2 a:hover {
        cursor: alias !important; }
  .notes h3 {
    font-size: 0.55em;
    line-height: 1em;
    font-weight: normal;
    margin: 0;
    display: inline; }
    .notes h3 a {
      line-height: inherit;
      border: none;
      font-style: italic; }
      .notes h3 a:hover {
        cursor: alias !important; }
  .notes .out:hover {
    cursor: alias !important; }
  .notes .text {
    padding: 2em 0;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify; }
    .notes .text a {
      border-bottom-width: 0.1em; }
    .notes .text p {
      margin: 0 0 1em 0; }
      .notes .text p:last-child {
        margin: 0; }

.toggle *:first-child {
  display: inline-block; }
.toggle *:last-child {
  display: none; }
.toggle.toggled *:first-child {
  display: none; }
.toggle.toggled *:last-child {
  display: inline-block; }

.wooden-airplane-lamp {
  background: yellow;
  color: blue; }
  .wooden-airplane-lamp svg {
    fill: blue; }
  .wooden-airplane-lamp a, .wooden-airplane-lamp a:visited {
    color: red;
    border-color: red; }
  .wooden-airplane-lamp #info {
    background: blue;
    color: yellow; }
    .wooden-airplane-lamp #info a, .wooden-airplane-lamp #info a:visited {
      color: yellow;
      border-color: yellow; }

.blue {
  background: blue;
  color: white; }
  .blue svg {
    fill: white; }
  .blue a, .blue a:visited {
    color: yellow;
    border-color: yellow; }
  .blue #info {
    background: white;
    color: blue; }
    .blue #info a, .blue #info a:visited {
      color: blue;
      border-color: blue; }

.default {
  background: white;
  color: black; }
  .default svg {
    fill: black; }
  .default a, .default a:visited {
    color: blue;
    border-color: blue; }
  .default #info {
    background: black;
    color: white; }
    .default #info a, .default #info a:visited {
      color: white;
      border-color: white; }

.nighty {
  background: black;
  color: white; }
  .nighty svg {
    fill: white; }
  .nighty a, .nighty a:visited {
    color: white;
    border-color: white; }
  .nighty #info {
    background: white;
    color: black; }
    .nighty #info a, .nighty #info a:visited {
      color: black;
      border-color: black; }

.spring {
  background: SpringGreen;
  color: black; }
  .spring svg {
    fill: black; }
  .spring a, .spring a:visited {
    color: black;
    border-color: black; }
  .spring #info {
    background: black;
    color: SpringGreen; }
    .spring #info a, .spring #info a:visited {
      color: SpringGreen;
      border-color: SpringGreen; }

.old-glory {
  background: RoyalBlue;
  color: white; }
  .old-glory svg {
    fill: white; }
  .old-glory a, .old-glory a:visited {
    color: Tomato;
    border-color: Tomato; }
  .old-glory #info {
    background: white;
    color: RoyalBlue; }
    .old-glory #info a, .old-glory #info a:visited {
      color: RoyalBlue;
      border-color: RoyalBlue; }

.ronald {
  background: red;
  color: white; }
  .ronald svg {
    fill: white; }
  .ronald a, .ronald a:visited {
    color: Gold;
    border-color: Gold; }
  .ronald #info {
    background: white;
    color: red; }
    .ronald #info a, .ronald #info a:visited {
      color: red;
      border-color: red; }

.cactus {
  background: #fdbbcc;
  color: #f81c00; }
  .cactus svg {
    fill: #f81c00; }
  .cactus a, .cactus a:visited {
    color: #f81c00;
    border-color: #f81c00; }
  .cactus #info {
    background: #f81c00;
    color: #fdbbcc; }
    .cactus #info a, .cactus #info a:visited {
      color: #fdbbcc;
      border-color: #fdbbcc; }

.long-sleeve {
  background: #f9e312;
  color: #00447c; }
  .long-sleeve svg {
    fill: #00447c; }
  .long-sleeve a, .long-sleeve a:visited {
    color: #00447c;
    border-color: #00447c; }
  .long-sleeve #info {
    background: #00447c;
    color: #f9e312; }
    .long-sleeve #info a, .long-sleeve #info a:visited {
      color: #f9e312;
      border-color: #f9e312; }

.ad-blocker a {
  color: transparent;
  text-decoration: none; }
  .ad-blocker a:hover, .ad-blocker a.action {
    color: inherit; }

.shadow {
  text-shadow: 3px 3px 3px;
  -moz-text-shadow: 3px 3px 3px;
  -webkit-text-shadow: 3px 3px 3px; }
  .shadow a:hover {
    text-shadow: 2px 2px 3px;
    -moz-text-shadow: 2px 2px 3px;
    -webkit-text-shadow: 2px 2px 3px; }

.farsighted {
  filter: blur(8px);
  -webkit-filter: blur(8px); }

.mini p {
  transform: scale(0.2) !important;
  -moz-transform: scale(0.2) !important;
  -webkit-transform: scale(0.2) !important; }

.jumbo p {
  transform: scale(2) !important;
  -moz-transform: scale(2) !important;
  -webkit-transform: scale(2) !important; }

.italic i:not(.symbol) {
  transform: rotateY(12deg) rotateX(12deg) rotateZ(12deg) !important;
  -moz-transform: rotateY(12deg) rotateX(12deg) rotateZ(12deg) !important;
  -webkit-transform: rotateY(12deg) rotateX(12deg) rotateZ(12deg) !important; }

.from-the-other-side i:not(.action) {
  transform: rotateX(180deg) rotateY(180deg) !important;
  -moz-transform: rotateX(180deg) rotateY(180deg) !important;
  -webkit-transform: rotateX(180deg) rotateY(180deg) !important; }

.blacked-out a {
  background: black !important;
  color: transparent !important;
  border: none !important; }

.fan i:not(.symbol) {
  -webkit-animation: fan 200ms infinite linear;
  -moz-animation: fan 200ms infinite linear;
  -ms-animation: fan 200ms infinite linear;
  -o-animation: fan 200ms infinite linear;
  animation: fan 200ms infinite linear; }

main:not(.fan) i:not(.symbol) {
  -webkit-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  transform: rotateZ(0); }

/*# sourceMappingURL=style.css.map */
