@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@keyframes fan {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateZ(0);
  }
  25% {
    transform: rotate(3deg) translateZ(0);
  }
  50% {
    transform: rotate(0deg) translateZ(0);
  }
  75% {
    transform: rotate(-3deg) translateZ(0);
  }
}
html {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2em;
}

body {
  height: 100%;
  display: block;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border-bottom: black;
  color: black;
  font-family: "Lora", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html * {
  user-select: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid;
  padding-bottom: 0.1rem;
}
a:hover {
  cursor: alias !important;
}

sup {
  font-size: 0.8rem;
  line-height: 1.55em;
  margin-left: -0.4rem;
}
sup:hover {
  cursor: s-resize !important;
}
sup a {
  border: none;
  padding: 0 2px;
}
sup a:hover {
  cursor: s-resize !important;
}

h2, h3, h4, h5 {
  margin: 0;
  display: inline;
  font-weight: normal;
}
h2 a, h3 a, h4 a, h5 a {
  color: inherit !important;
  font-style: italic;
}

h3 a, h5 a {
  color: inherit !important;
  font-style: italic;
  border: none !important;
  text-shadow: none !important;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.4em;
  display: table;
  padding: 0 0 10px 0;
}
h2 a {
  font-style: normal;
}

h3 {
  font-size: 20px;
  line-height: 1.2em;
}

small {
  font-size: 0.8rem;
  line-height: 1.55em;
}

.inner {
  width: 100%;
  max-width: 980px;
  height: auto;
  display: table;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

main {
  padding: 50px 0;
  display: table;
  font-size: 2.2rem;
  line-height: 1.4em;
}
main i, main a, main em {
  display: inline-table;
  hyphens: manual;
  word-break: break-word;
}
main .inner {
  display: table-cell;
  padding-bottom: 1.4rem;
  position: relative;
  vertical-align: middle;
}
main .inner p {
  margin: 0 0 0.5em 0;
}
main .inner p:last-of-type {
  margin: 0;
}
main .inner a {
  cursor: alias;
  line-height: 0.95rem;
  display: inline;
}
main .inner i {
  font-style: normal;
  transform-style: preserve-3d;
  perspective: 1000;
  -webkit-perspective: 1000;
}
main .inner em {
  font-style: normal;
}

.symbols {
  position: absolute;
  left: 30px;
  bottom: 0px;
  display: none;
}

.symbol {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: pointer;
}
.symbol:hover {
  cursor: pointer;
}
.symbol svg {
  height: auto;
  display: inline-table;
  fill: currentColor;
  transform: translate3d(0, 0, 0);
  backface-visibility: visible;
}
.symbol svg:hover {
  cursor: pointer;
}
.symbol[data-action=peace] {
  transform: scale(1.8);
  margin-right: 20px;
}
.symbol[data-action=peace] svg {
  width: 2rem;
}
.symbol[data-action=love] {
  transform: scale(1.4);
  margin-left: 10px;
}
.symbol[data-action=love] svg {
  width: 1.1rem;
}

.action.big {
  cursor: pointer;
}

.out:hover {
  cursor: alias !important;
}

.credits {
  font-size: 20px;
  line-height: 1.2em;
}
.credits a {
  position: relative;
}
.credits a:hover sub {
  display: block;
}
.credits small {
  margin-top: 1em;
  display: block;
}
.credits sub {
  width: 100%;
  position: absolute;
  display: none;
  left: 0;
  top: 2em;
  text-align: center;
  text-shadow: unset;
  background: unset;
  font-size: 0.65rem;
  line-height: 1.3em;
}

#projects {
  width: 100%;
}

.project {
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  line-height: 1.3em;
}
.project * {
  user-select: text;
}
.project a {
  border-bottom-width: 0.1rem;
}
.project p {
  margin: 0 0 1rem 0;
}
.project p:last-child {
  margin: 0;
}
.project .inner {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

ul {
  margin: 0;
  text-align: left;
}

li {
  margin: 0 0 1rem 0;
  font-size: 20px;
  line-height: 1.2em;
}
li:last-child {
  margin: 0;
}

details {
  margin: 1rem 0 0 0;
  position: relative;
}
details[open] {
  padding-bottom: 3rem;
}

summary {
  cursor: pointer;
  text-align: justify;
  font-size: 20px;
  line-height: 1.2em;
  list-style: none;
  user-select: none !important;
}
summary::before {
  content: "▼";
  margin-right: 0.5em;
  font-size: 0.8em;
}
details[open] summary {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}
details[open] summary::marker, details[open] summary::-webkit-details-marker {
  color: red;
}
details[open] summary::before {
  content: "▲";
}
details:not([open]) summary span {
  display: none;
}

.about {
  margin: 2rem 0;
  text-align: justify;
  position: relative;
}

.visit {
  display: table;
  font-size: 20px;
  line-height: 1.2em;
}
.visit:not([href]) {
  opacity: 0.5;
  pointer-events: none;
  margin-right: 1em;
  float: left;
}

.shadow {
  width: 100%;
  height: 3rem;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
  transition: box-shadow 200ms ease;
  display: none;
}
.shadow:hover {
  cursor: s-resize;
}

.toggle *:first-child {
  display: inline-block;
}
.toggle *:last-child {
  display: none;
}
.toggle.toggled *:first-child {
  display: none;
}
.toggle.toggled *:last-child {
  display: inline-block;
}

#currently {
  padding-bottom: 1rem;
}
#currently .inner {
  width: calc(100% - 3.5rem);
  max-width: calc(100% - 3.5rem);
  padding: 1rem;
  margin: auto;
  border: 0.25rem solid;
  display: block;
}
#currently .about {
  padding: 0;
}

#coi {
  color: #fff;
  background-color: #3594f2;
}
#coi a {
  color: #fff;
  text-shadow: 0 1px 0 #3594f2, 0 2px 0 #3594f2, 0 -1px 0 #3594f2, 0 -2px 0 #3594f2, -1px 1px 0 #3594f2, -1px 2px 0 #3594f2, 1px 1px 0 #3594f2, 1px 2px 0 #3594f2, -1px 0 0 #3594f2, 0 -3px 0 #3594f2;
  background: linear-gradient(#3594f2, #3594f2), linear-gradient(#3594f2, #3594f2), linear-gradient(#fff, #fff);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#coi a:hover {
  color: #fff !important;
}
#coi .inner .text .shadow {
  box-shadow: #3594f2 inset 0 -4em 2em -2em;
}
#coi .inner .text.tease .shadow {
  box-shadow: #3594f2 inset 0 -3em 2em -2em;
}
#coi ::selection {
  color: #3594f2;
  background-color: #fff;
  text-shadow: none !important;
}
#coi .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-image: url(../images/coi1.jpg);
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;
}
#coi .inner {
  position: relative;
  z-index: 2;
}
#coi a {
  text-shadow: 0 1px 0 transparent, 0 2px 0 transparent, 0 -1px 0 transparent, 0 -2px 0 transparent, -1px 1px 0 transparent, -1px 2px 0 transparent, 1px 1px 0 transparent, 1px 2px 0 transparent, -1px 0 0 transparent, 0 -3px 0 transparent;
  background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#coi ::selection {
  color: #3594f2;
  background-color: #fff;
}

#four-corners {
  color: #212529;
  background-color: #f4f7fe;
  position: relative;
}
#four-corners a {
  color: #212529;
  text-shadow: 0 1px 0 #f4f7fe, 0 2px 0 #f4f7fe, 0 -1px 0 #f4f7fe, 0 -2px 0 #f4f7fe, -1px 1px 0 #f4f7fe, -1px 2px 0 #f4f7fe, 1px 1px 0 #f4f7fe, 1px 2px 0 #f4f7fe, -1px 0 0 #f4f7fe, 0 -3px 0 #f4f7fe;
  background: linear-gradient(#f4f7fe, #f4f7fe), linear-gradient(#f4f7fe, #f4f7fe), linear-gradient(#afd5ff, #afd5ff);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#four-corners a:hover {
  color: #80bdff !important;
}
#four-corners .inner .text .shadow {
  box-shadow: #f4f7fe inset 0 -4em 2em -2em;
}
#four-corners .inner .text.tease .shadow {
  box-shadow: #f4f7fe inset 0 -3em 2em -2em;
}
#four-corners ::selection {
  color: #f4f7fe;
  background-color: #212529;
  text-shadow: none !important;
}
#four-corners .corner {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  z-index: 4;
  transform: translate3d(0, 0, 0);
}
#four-corners .corner::after, #four-corners .corner::before {
  content: "";
  position: absolute;
  z-index: 4;
  background-color: #80bdff;
}
#four-corners .corner.authorship {
  bottom: 0.5em;
  right: 0.5em;
}
#four-corners .corner.authorship::before {
  width: 0.5em;
  height: 1.5em;
  right: 0;
  bottom: 0;
}
#four-corners .corner.authorship::after {
  width: 1.5em;
  height: 0.5em;
  right: 0;
  bottom: 0;
}
#four-corners .corner.backstory {
  bottom: 0.5em;
  left: 0.5em;
}
#four-corners .corner.backstory::before {
  width: 0.5em;
  height: 1.5em;
  left: 0;
  bottom: 0;
}
#four-corners .corner.backstory::after {
  width: 1.5em;
  height: 0.5em;
  left: 0;
  bottom: 0;
}
#four-corners .corner.imagery {
  top: 0.5em;
  left: 0.5em;
}
#four-corners .corner.imagery::before {
  width: 0.5em;
  height: 1.5em;
  left: 0;
  top: 0;
}
#four-corners .corner.imagery::after {
  width: 1.5em;
  height: 0.5em;
  left: 0;
  top: 0;
}
#four-corners .corner.links {
  top: 0.5em;
  right: 0.5em;
}
#four-corners .corner.links::before {
  width: 0.5em;
  height: 1.5em;
  right: 0;
  top: 0;
}
#four-corners .corner.links::after {
  width: 1.5em;
  height: 0.5em;
  right: 0;
  top: 0;
}

#nakba {
  color: white;
  background-color: black;
}
#nakba a {
  color: white;
  text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
  background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(#ff0, #ff0);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#nakba a:hover {
  color: #ff0 !important;
}
#nakba .inner .text .shadow {
  box-shadow: black inset 0 -4em 2em -2em;
}
#nakba .inner .text.tease .shadow {
  box-shadow: black inset 0 -3em 2em -2em;
}
#nakba ::selection {
  color: black;
  background-color: white;
  text-shadow: none !important;
}

#ygdp {
  color: #153554;
  background-color: #a8d7ee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/ygdp.svg);
}
#ygdp a {
  color: #153554;
  text-shadow: 0 1px 0 #a8d7ee, 0 2px 0 #a8d7ee, 0 -1px 0 #a8d7ee, 0 -2px 0 #a8d7ee, -1px 1px 0 #a8d7ee, -1px 2px 0 #a8d7ee, 1px 1px 0 #a8d7ee, 1px 2px 0 #a8d7ee, -1px 0 0 #a8d7ee, 0 -3px 0 #a8d7ee;
  background: linear-gradient(#a8d7ee, #a8d7ee), linear-gradient(#a8d7ee, #a8d7ee), linear-gradient(#e1e8ea, #e1e8ea);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#ygdp a:hover {
  color: #f2f2ee !important;
}
#ygdp .inner .text .shadow {
  box-shadow: #a8d7ee inset 0 -4em 2em -2em;
}
#ygdp .inner .text.tease .shadow {
  box-shadow: #a8d7ee inset 0 -3em 2em -2em;
}
#ygdp ::selection {
  color: #a8d7ee;
  background-color: #153554;
  text-shadow: none !important;
}

#ginling {
  color: #f2f0df;
  background-color: #0dae0b;
  background-image: url(../images/ginling.png);
  background-size: 50% auto;
  background-position: 0 top;
  background-repeat: no-repeat;
}
#ginling a {
  color: #f2f0df;
  text-shadow: 0 1px 0 #0dae0b, 0 2px 0 #0dae0b, 0 -1px 0 #0dae0b, 0 -2px 0 #0dae0b, -1px 1px 0 #0dae0b, -1px 2px 0 #0dae0b, 1px 1px 0 #0dae0b, 1px 2px 0 #0dae0b, -1px 0 0 #0dae0b, 0 -3px 0 #0dae0b;
  background: linear-gradient(#0dae0b, #0dae0b), linear-gradient(#0dae0b, #0dae0b), linear-gradient(#f2f0df, #f2f0df);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#ginling a:hover {
  color: rgba(242, 240, 223, 0.75) !important;
}
#ginling .inner .text .shadow {
  box-shadow: #0dae0b inset 0 -4em 2em -2em;
}
#ginling .inner .text.tease .shadow {
  box-shadow: #0dae0b inset 0 -3em 2em -2em;
}
#ginling ::selection {
  color: #0dae0b;
  background-color: #f2f0df;
  text-shadow: none !important;
}
#ginling h2 a {
  text-shadow: none;
}

#bpl {
  color: white;
  background-color: #8199ff;
}
#bpl a {
  color: white;
  text-shadow: 0 1px 0 #8199ff, 0 2px 0 #8199ff, 0 -1px 0 #8199ff, 0 -2px 0 #8199ff, -1px 1px 0 #8199ff, -1px 2px 0 #8199ff, 1px 1px 0 #8199ff, 1px 2px 0 #8199ff, -1px 0 0 #8199ff, 0 -3px 0 #8199ff;
  background: linear-gradient(#8199ff, #8199ff), linear-gradient(#8199ff, #8199ff), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#bpl a:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
#bpl .inner .text .shadow {
  box-shadow: #8199ff inset 0 -4em 2em -2em;
}
#bpl .inner .text.tease .shadow {
  box-shadow: #8199ff inset 0 -3em 2em -2em;
}
#bpl ::selection {
  color: #8199ff;
  background-color: white;
  text-shadow: none !important;
}

#revealer {
  color: #346378;
  background-color: #f1f5f7;
}
#revealer a {
  color: #346378;
  text-shadow: 0 1px 0 #f1f5f7, 0 2px 0 #f1f5f7, 0 -1px 0 #f1f5f7, 0 -2px 0 #f1f5f7, -1px 1px 0 #f1f5f7, -1px 2px 0 #f1f5f7, 1px 1px 0 #f1f5f7, 1px 2px 0 #f1f5f7, -1px 0 0 #f1f5f7, 0 -3px 0 #f1f5f7;
  background: linear-gradient(#f1f5f7, #f1f5f7), linear-gradient(#f1f5f7, #f1f5f7), linear-gradient(#fed00b, #fed00b);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#revealer a:hover {
  color: rgba(52, 99, 120, 0.75) !important;
}
#revealer .inner .text .shadow {
  box-shadow: #f1f5f7 inset 0 -4em 2em -2em;
}
#revealer .inner .text.tease .shadow {
  box-shadow: #f1f5f7 inset 0 -3em 2em -2em;
}
#revealer ::selection {
  color: #f1f5f7;
  background-color: #346378;
  text-shadow: none !important;
}
#revealer .halo {
  width: 5rem;
  height: 5rem;
  left: calc(50% - 2.5rem);
  top: calc(50% - 2.5rem);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.25rem #fed00b;
  z-index: 0;
  background: #fed00b;
}

#rz {
  color: #d02630;
  background-color: #f8e5e3;
}
#rz a {
  color: #d02630;
  text-shadow: 0 1px 0 #f8e5e3, 0 2px 0 #f8e5e3, 0 -1px 0 #f8e5e3, 0 -2px 0 #f8e5e3, -1px 1px 0 #f8e5e3, -1px 2px 0 #f8e5e3, 1px 1px 0 #f8e5e3, 1px 2px 0 #f8e5e3, -1px 0 0 #f8e5e3, 0 -3px 0 #f8e5e3;
  background: linear-gradient(#f8e5e3, #f8e5e3), linear-gradient(#f8e5e3, #f8e5e3), linear-gradient(#d02630, #d02630);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#rz a:hover {
  color: rgba(208, 38, 48, 0.75) !important;
}
#rz .inner .text .shadow {
  box-shadow: #f8e5e3 inset 0 -4em 2em -2em;
}
#rz .inner .text.tease .shadow {
  box-shadow: #f8e5e3 inset 0 -3em 2em -2em;
}
#rz ::selection {
  color: #f8e5e3;
  background-color: #d02630;
  text-shadow: none !important;
}
#rz .pattern {
  width: 100%;
  height: 45px;
  background-size: 30px 15px;
  background-image: url(../images/zim.svg);
  position: absolute;
  left: 0;
}
#rz .pattern.top {
  top: 1px;
}
#rz .pattern.bottom {
  bottom: 1px;
}

#mts {
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fafcfc;
  background-color: black;
}
#mts a {
  color: #fafcfc;
  text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
  background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(#fafcfc, #fafcfc);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#mts a:hover {
  color: rgba(244, 246, 250, 0.75) !important;
}
#mts .inner .text .shadow {
  box-shadow: black inset 0 -4em 2em -2em;
}
#mts .inner .text.tease .shadow {
  box-shadow: black inset 0 -3em 2em -2em;
}
#mts ::selection {
  color: black;
  background-color: #fafcfc;
  text-shadow: none !important;
}

#iscp {
  position: relative;
  transition: background 150ms ease-in-out;
  color: white;
  background-color: #ff5000;
}
#iscp a {
  color: white;
  text-shadow: 0 1px 0 #ff5000, 0 2px 0 #ff5000, 0 -1px 0 #ff5000, 0 -2px 0 #ff5000, -1px 1px 0 #ff5000, -1px 2px 0 #ff5000, 1px 1px 0 #ff5000, 1px 2px 0 #ff5000, -1px 0 0 #ff5000, 0 -3px 0 #ff5000;
  background: linear-gradient(#ff5000, #ff5000), linear-gradient(#ff5000, #ff5000), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#iscp a:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
#iscp .inner .text .shadow {
  box-shadow: #ff5000 inset 0 -4em 2em -2em;
}
#iscp .inner .text.tease .shadow {
  box-shadow: #ff5000 inset 0 -3em 2em -2em;
}
#iscp ::selection {
  color: #ff5000;
  background-color: white;
  text-shadow: none !important;
}
#iscp::before, #iscp::after,
#iscp .outer::before, #iscp .outer::after {
  content: "";
  background: white;
  position: absolute;
}
#iscp::before, #iscp::after {
  width: 100%;
  height: 6px;
  left: 0;
}
#iscp::before {
  top: 4rem;
}
#iscp::after {
  bottom: 4rem;
}
#iscp .outer {
  width: calc(100% - 8rem);
  margin: auto;
  padding: 4rem;
}
#iscp .outer::before, #iscp .outer::after {
  width: 6px;
  height: 100%;
  top: 0;
  border: solid #ff5000;
  border-width: 0 6px;
}
#iscp .outer::before {
  left: 4rem;
}
#iscp .outer::after {
  right: 4rem;
}
#iscp .inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#compost-pile {
  position: relative;
  overflow: hidden;
  color: #fbfffb;
  background-color: #73db71;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/compost.svg);
}
#compost-pile a {
  color: #fbfffb;
  text-shadow: 0 1px 0 #73db71, 0 2px 0 #73db71, 0 -1px 0 #73db71, 0 -2px 0 #73db71, -1px 1px 0 #73db71, -1px 2px 0 #73db71, 1px 1px 0 #73db71, 1px 2px 0 #73db71, -1px 0 0 #73db71, 0 -3px 0 #73db71;
  background: linear-gradient(#73db71, #73db71), linear-gradient(#73db71, #73db71), linear-gradient(#fbfffb, #fbfffb);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#compost-pile a:hover {
  color: rgba(251, 255, 251, 0.75) !important;
}
#compost-pile .inner .text .shadow {
  box-shadow: #73db71 inset 0 -4em 2em -2em;
}
#compost-pile .inner .text.tease .shadow {
  box-shadow: #73db71 inset 0 -3em 2em -2em;
}
#compost-pile ::selection {
  color: #73db71;
  background-color: #fbfffb;
  text-shadow: none !important;
}

#affixing-ceremony {
  color: black;
  background-color: white;
}
#affixing-ceremony a {
  color: black;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
  background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(red, red);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#affixing-ceremony a:hover {
  color: red !important;
}
#affixing-ceremony .inner .text .shadow {
  box-shadow: white inset 0 -4em 2em -2em;
}
#affixing-ceremony .inner .text.tease .shadow {
  box-shadow: white inset 0 -3em 2em -2em;
}
#affixing-ceremony ::selection {
  color: white;
  background-color: black;
  text-shadow: none !important;
}

#pcgd {
  color: #FFFF33;
  background-color: #333399;
}
#pcgd a {
  color: #FFFF33;
  text-shadow: 0 1px 0 #333399, 0 2px 0 #333399, 0 -1px 0 #333399, 0 -2px 0 #333399, -1px 1px 0 #333399, -1px 2px 0 #333399, 1px 1px 0 #333399, 1px 2px 0 #333399, -1px 0 0 #333399, 0 -3px 0 #333399;
  background: linear-gradient(#333399, #333399), linear-gradient(#333399, #333399), linear-gradient(#FFFF33, #FFFF33);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#pcgd a:hover {
  color: rgba(255, 255, 51, 0.75) !important;
}
#pcgd .inner .text .shadow {
  box-shadow: #333399 inset 0 -4em 2em -2em;
}
#pcgd .inner .text.tease .shadow {
  box-shadow: #333399 inset 0 -3em 2em -2em;
}
#pcgd ::selection {
  color: #333399;
  background-color: #FFFF33;
  text-shadow: none !important;
}
#pcgd .svg {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer !important;
}
#pcgd .svg:hover {
  cursor: pointer !important;
}
#pcgd .svg svg {
  width: 1rem;
  position: absolute;
  bottom: -2px;
  right: 0;
  display: none;
  line-height: 1.2rem;
  vertical-align: baseline;
  fill: #FFFF33 !important;
}
#pcgd .svg svg * {
  fill: #FFFF33 !important;
}
#pcgd .svg svg:first-of-type {
  display: inline-block;
}

#rbma {
  background: #000000;
  color: #FEF035;
}
#rbma.confetti {
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  background-image: url(../images/confetti.gif);
}
#rbma a {
  color: #FEF035;
  text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
  background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(#FEF035, #FEF035);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
#rbma .click {
  height: 1.4rem;
  padding-right: 0.5rem;
}
#rbma .click img {
  margin-bottom: -0.25rem;
  height: inherit;
}
#rbma .click:hover, #rbma .click .hover, #rbma .click:hover img {
  cursor: pointer !important;
  animation: wiggle 300ms infinite;
}
#rbma .click.logo span {
  background-image: url(../images/underline.png);
  background-size: 12px 8px;
  background-position: 0px bottom;
  background-repeat: repeat-x;
  text-shadow: -2px 2px 1px black, 2px -2px 1px black, -2px -2px 1px black, 2px 2px 1px black;
}
#rbma .click.japan {
  position: relative;
}
#rbma .click.japan.toggled img {
  display: inline-block !important;
  visibility: hidden;
}
#rbma .click.japan iframe {
  position: absolute;
  transform: scale(0.28);
  transform-origin: top left;
  top: -35%;
  left: 0;
  pointer-events: none;
}

main body.wooden-airplane-lamp {
  background: yellow;
  color: blue;
}
main body.wooden-airplane-lamp svg {
  fill: blue;
}
main body.wooden-airplane-lamp a, main body.wooden-airplane-lamp a:visited {
  color: red;
  text-shadow: 0 1px 0 yellow, 0 2px 0 yellow, 0 -1px 0 yellow, 0 -2px 0 yellow, -1px 1px 0 yellow, -1px 2px 0 yellow, 1px 1px 0 yellow, 1px 2px 0 yellow, -1px 0 0 yellow, 0 -3px 0 yellow;
  background: linear-gradient(yellow, yellow), linear-gradient(yellow, yellow), linear-gradient(blue, blue);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.wooden-airplane-lamp #info {
  background: blue;
  color: yellow;
  border-color: yellow;
}
main body.wooden-airplane-lamp #info a, main body.wooden-airplane-lamp #info a:visited {
  color: yellow;
  text-shadow: 0 1px 0 blue, 0 2px 0 blue, 0 -1px 0 blue, 0 -2px 0 blue, -1px 1px 0 blue, -1px 2px 0 blue, 1px 1px 0 blue, 1px 2px 0 blue, -1px 0 0 blue, 0 -3px 0 blue;
  background: linear-gradient(blue, blue), linear-gradient(blue, blue), linear-gradient(yellow, yellow);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.blue {
  background: blue;
  color: white;
}
main body.blue svg {
  fill: white;
}
main body.blue a, main body.blue a:visited {
  color: yellow;
  text-shadow: 0 1px 0 blue, 0 2px 0 blue, 0 -1px 0 blue, 0 -2px 0 blue, -1px 1px 0 blue, -1px 2px 0 blue, 1px 1px 0 blue, 1px 2px 0 blue, -1px 0 0 blue, 0 -3px 0 blue;
  background: linear-gradient(blue, blue), linear-gradient(blue, blue), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.blue #info {
  background: white;
  color: blue;
  border-color: blue;
}
main body.blue #info a, main body.blue #info a:visited {
  color: blue;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
  background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(blue, blue);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.default {
  background: white;
  color: black;
}
main body.default svg {
  fill: black;
}
main body.default a, main body.default a:visited {
  color: blue;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
  background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.default #info {
  background: black;
  color: white;
  border-color: white;
}
main body.default #info a, main body.default #info a:visited {
  color: white;
  text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
  background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.nighty {
  background: black;
  color: white;
}
main body.nighty svg {
  fill: white;
}
main body.nighty a, main body.nighty a:visited {
  color: white;
  text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
  background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.nighty #info {
  background: white;
  color: black;
  border-color: black;
}
main body.nighty #info a, main body.nighty #info a:visited {
  color: black;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
  background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.spring {
  background: SpringGreen;
  color: black;
}
main body.spring svg {
  fill: black;
}
main body.spring a, main body.spring a:visited {
  color: black;
  text-shadow: 0 1px 0 SpringGreen, 0 2px 0 SpringGreen, 0 -1px 0 SpringGreen, 0 -2px 0 SpringGreen, -1px 1px 0 SpringGreen, -1px 2px 0 SpringGreen, 1px 1px 0 SpringGreen, 1px 2px 0 SpringGreen, -1px 0 0 SpringGreen, 0 -3px 0 SpringGreen;
  background: linear-gradient(SpringGreen, SpringGreen), linear-gradient(SpringGreen, SpringGreen), linear-gradient(black, black);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.spring #info {
  background: black;
  color: SpringGreen;
  border-color: SpringGreen;
}
main body.spring #info a, main body.spring #info a:visited {
  color: SpringGreen;
  text-shadow: 0 1px 0 black, 0 2px 0 black, 0 -1px 0 black, 0 -2px 0 black, -1px 1px 0 black, -1px 2px 0 black, 1px 1px 0 black, 1px 2px 0 black, -1px 0 0 black, 0 -3px 0 black;
  background: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(SpringGreen, SpringGreen);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.old-glory {
  background: RoyalBlue;
  color: white;
}
main body.old-glory svg {
  fill: white;
}
main body.old-glory a, main body.old-glory a:visited {
  color: Tomato;
  text-shadow: 0 1px 0 RoyalBlue, 0 2px 0 RoyalBlue, 0 -1px 0 RoyalBlue, 0 -2px 0 RoyalBlue, -1px 1px 0 RoyalBlue, -1px 2px 0 RoyalBlue, 1px 1px 0 RoyalBlue, 1px 2px 0 RoyalBlue, -1px 0 0 RoyalBlue, 0 -3px 0 RoyalBlue;
  background: linear-gradient(RoyalBlue, RoyalBlue), linear-gradient(RoyalBlue, RoyalBlue), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.old-glory #info {
  background: white;
  color: RoyalBlue;
  border-color: RoyalBlue;
}
main body.old-glory #info a, main body.old-glory #info a:visited {
  color: RoyalBlue;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
  background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(RoyalBlue, RoyalBlue);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.ronald {
  background: red;
  color: white;
}
main body.ronald svg {
  fill: white;
}
main body.ronald a, main body.ronald a:visited {
  color: Gold;
  text-shadow: 0 1px 0 red, 0 2px 0 red, 0 -1px 0 red, 0 -2px 0 red, -1px 1px 0 red, -1px 2px 0 red, 1px 1px 0 red, 1px 2px 0 red, -1px 0 0 red, 0 -3px 0 red;
  background: linear-gradient(red, red), linear-gradient(red, red), linear-gradient(white, white);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.ronald #info {
  background: white;
  color: red;
  border-color: red;
}
main body.ronald #info a, main body.ronald #info a:visited {
  color: red;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, -1px 1px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px 2px 0 white, -1px 0 0 white, 0 -3px 0 white;
  background: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(red, red);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.cactus {
  background: #fdbbcc;
  color: #f81c00;
}
main body.cactus svg {
  fill: #f81c00;
}
main body.cactus a, main body.cactus a:visited {
  color: #f81c00;
  text-shadow: 0 1px 0 #fdbbcc, 0 2px 0 #fdbbcc, 0 -1px 0 #fdbbcc, 0 -2px 0 #fdbbcc, -1px 1px 0 #fdbbcc, -1px 2px 0 #fdbbcc, 1px 1px 0 #fdbbcc, 1px 2px 0 #fdbbcc, -1px 0 0 #fdbbcc, 0 -3px 0 #fdbbcc;
  background: linear-gradient(#fdbbcc, #fdbbcc), linear-gradient(#fdbbcc, #fdbbcc), linear-gradient(#f81c00, #f81c00);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.cactus #info {
  background: #f81c00;
  color: #fdbbcc;
  border-color: #fdbbcc;
}
main body.cactus #info a, main body.cactus #info a:visited {
  color: #fdbbcc;
  text-shadow: 0 1px 0 #f81c00, 0 2px 0 #f81c00, 0 -1px 0 #f81c00, 0 -2px 0 #f81c00, -1px 1px 0 #f81c00, -1px 2px 0 #f81c00, 1px 1px 0 #f81c00, 1px 2px 0 #f81c00, -1px 0 0 #f81c00, 0 -3px 0 #f81c00;
  background: linear-gradient(#f81c00, #f81c00), linear-gradient(#f81c00, #f81c00), linear-gradient(#fdbbcc, #fdbbcc);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.long-sleeve {
  background: #f9e312;
  color: #00447c;
}
main body.long-sleeve svg {
  fill: #00447c;
}
main body.long-sleeve a, main body.long-sleeve a:visited {
  color: #00447c;
  text-shadow: 0 1px 0 #f9e312, 0 2px 0 #f9e312, 0 -1px 0 #f9e312, 0 -2px 0 #f9e312, -1px 1px 0 #f9e312, -1px 2px 0 #f9e312, 1px 1px 0 #f9e312, 1px 2px 0 #f9e312, -1px 0 0 #f9e312, 0 -3px 0 #f9e312;
  background: linear-gradient(#f9e312, #f9e312), linear-gradient(#f9e312, #f9e312), linear-gradient(#00447c, #00447c);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}
main body.long-sleeve #info {
  background: #00447c;
  color: #f9e312;
  border-color: #f9e312;
}
main body.long-sleeve #info a, main body.long-sleeve #info a:visited {
  color: #f9e312;
  text-shadow: 0 1px 0 #00447c, 0 2px 0 #00447c, 0 -1px 0 #00447c, 0 -2px 0 #00447c, -1px 1px 0 #00447c, -1px 2px 0 #00447c, 1px 1px 0 #00447c, 1px 2px 0 #00447c, -1px 0 0 #00447c, 0 -3px 0 #00447c;
  background: linear-gradient(#00447c, #00447c), linear-gradient(#00447c, #00447c), linear-gradient(#f9e312, #f9e312);
  background-position: 0 87%, 100% 87%, 0 92%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
  text-decoration: none;
  border: none;
}

.shadow main {
  text-shadow: 3px 3px 3px;
}
.shadow main a:hover {
  text-shadow: 2px 2px 3px;
}

.farsighted main {
  filter: blur(8px);
}

.mini main p {
  transform: scale(0.2) !important;
}

.jumbo main p {
  transform: scale(2) !important;
}

.italic main i:not(.symbol) {
  transform: rotateY(12deg) rotateX(12deg) rotateZ(12deg) !important;
}

.from-the-other-side main p {
  transform: rotateY(180deg) !important;
}

.redacted main a, .redacted main em, .redacted main i {
  background: black !important;
  color: transparent !important;
  border: none !important;
  text-shadow: none !important;
}

.fan main i:not(.symbol) {
  animation: fan 200ms infinite linear;
}

main:not(.fan) i:not(.symbol) {
  transform: rotateZ(0);
}

/*# sourceMappingURL=style.css.map */
