.note#af-fixing-ceremony
	.inner
		h1
			a(href="http://affixingceremony2015.tionam.com" target="_blank") Af·fixing Ceremony: Four Movements for Essex
		h2 w/  
			a(href="http://www.tionam.com/" target="_blank") Tiona McLodden
		.text
			p 
				| This piece by artist Tiona McLodden reanimates the presence and art of Essex Hemphill in 
				i cyberspace
				| &nbsp;by featuring a collection of his written and performed works, along with stories and praises from his contemporaries. Essex was a prolific poet and activist, and was one of the many gay black men who were disproportionally affected by AIDS during the 1980s epidemic in America. He passed away due to complications relating to the virus 20 years prior to the creation of this piece.
			p
				| The work was created for the 
				a.out(href='http://www.icaphila.org/' target="_blank") The Institute of Contemporary Art, Philadelphia
				|  which, in observance of World AIDS Day and 
				a.out(href='https://www.visualaids.org/projects/detail/day-without-art' target="_blank") Visual AIDS' Day Without Art
				| , made visitors of their website experience the web-based art piece before continuing to the museum's homepage.
			p
				| Read 
				a.out(href="http://www.tionam.com/affixingceremony" target="_blank") Tiona's thoughts
				|  on the project.
			
		h3 
			a(href="http://affixingceremony2015.tionam.com" target="_blank") affixingceremony2015.tionam.com