.note#bpl
	.inner
		h1
			a(href='https://www.bklynlibrary.org/strategicplan/' target='_blank') Brooklyn Public Library: NOW → NEXT
		h2 w/ 
			a(href='https://www.bklynlibrary.org/' target='_blank') Brooklyn Public Library
			| &amp;&nbsp;
			a(href='https://www.mtwtf.com/' target='_blank') MTWTF
		.text.max
			p In 2018 the Brooklyn Public Library released their new Strategic Plan to outline the expansion of services and implementation of new initiatives across their 
				a(href='https://www.bklynlibrary.org/locations' target='_blank') sixty branches
				|  located around the borough of Brooklyn in New York City. The Plan touches on increased availability of freely accessible technology and classes for library patrons, 
				a(href='https://www.bklynlibrary.org/incubator-submissions/' target='_blank') innovation grants for staff members
				| , prioritization of staff engagement with community groups within their branch's immediate neighborhood, an increase in branch-specific service that better targets the needs of local users of the branch, and much, much more.

			p The micro-site was built to be integrated within BPL’s expansive website alongside information on all of their services, catalog system, events calendar, etc. It’s the public-facing digital companion piece to a printed book (with identical content) designed by MTWTF which was distributed internally amongst staff members of the library system to inform them on what new possibilities they have to catalyze the effectiveness of their branches’ role as a valuable community resource.

			.shadow
				
		h3
			a(href='https://www.bklynlibrary.org/strategicplan/' target='_blank') bklynlibrary.org/strategicplan