.note#coi
	.bg
	.inner
		h1
			a(href='http://climatesofinequality.org/' target='_blank') Climates of Inequality
		h2 w/ 
			a(href='https://www.humanitiesactionlab.org/' target='_blank') Humanities Action Lab
			| &nbsp;&amp;&nbsp;
			a(href='https://www.mtwtf.com/' target='_blank') MTWTF
		.text
			p Climates of Inequality is a participatory public memory initiative to showcase actions and solutions of communities at the frontline of the harms of human-caused climate change. Students, educators, community members, and activists from nearly two dozen North American cities collaborated to tell their stories of environmental oppression, their efforts of resistance, and their future visions for justice.

			p The website showcases all of these stories in various media, including photography, archival material, 360 video, oral histories, interactive maps, and student projects and essays. All of the material of the site is also included in a 
				a(href='http://climatesofinequality.org/calendar/' target='_blank') traveling exhibition
				|  on its way to visit each city the project collaborated with.
				
		h3
			a(href='http://climatesofinequality.org/' target='_blank') climatesofinequality.org