.note#compost-pile
	.inner
		h1
			a(href="http://compost-pile.org/" target="_blank") Compost Pile
		h2 w/ 
			i Danny Fabricant &amp;&nbsp;
			a(href="http://www.brookesinger.net/" target="_blank") Brooke Singer
		.text
			p A visualization of the food scraps collection and compost production at SUNY Purchase. Data was submitted whenever scraps were diverted from landfills and added to the on-campus composting machine, as well as when usable compost is harvested. These data points get illustrated in the compost pile-like graph, showing the process over time.
		h3
			a(href="http://compost-pile.org/" target="_blank") compost-pile.org