.note#four-corners
	.inner
		.corner.authorship
		.corner.backstory
		.corner.imagery
		.corner.links
		h1
			a(href='https://fourcornersproject.org/' target='_blank') Four Corners Project
		h2 w/ 
			a(href='https://www.icp.org/users/fredritchin' target='_blank') Fred Ritchin
			| &nbsp;&amp;&nbsp;
			a(href='https://www.perrihofmann.com/' target='_blank') Perri Hofmann
		.text.max
			p The Four Corners Project allows photographers, editors, and publishers to embed specific contextualizing information into a photo published on the web. This increased contextualization strengthens both the authorship of the photographer and the credibility of the image by giving viewers access to information about the photographer, their code of ethics, the backstory of what is captured in the image, related images and videos, and external links relevant to the image and its story.

			p Four Corners images can be generated with a tool on the project’s website and embedded across the web. These interactive embeddable images can be published as standalone photos or in a collection on a photographer’s website, embedded within a journalistic story, or anywhere else images can be published online. Wherever the image exists, it insists to viewers that there is always more context to be understood beyond the image itself and a brief caption.

			p The team behind Four Corners is currently exploring creative and critical usages of the project to empower the authorship of image-makers and the trust of their audience. You can view examples of Four Corners images in our 
				a(href='https://fourcornersproject.org/gallery' target='_blank') gallery
				|.


			//- p
			//- 	| Related resources
			//- 	ul
			//- 		li
			//- 			a(href='https://www.amnesty.org/en/countries/middle-east-and-north-africa/palestine-state-of/report-palestine-state-of/' target='_blank') Amnesty International's State of Palestine Report (2017/2018)
			//- 		li
			//- 			a(href='https://www.btselem.org/' target='_blank') B’Tselem: The Israeli Information Center for Human Rights in the Occupied Territories
			//- 		li
			//- 			a(href='http://theinvisiblewalls.btselem.org' target='_blank') The Invisible Walls of Occupation
			//- 		li
			//- 			a(href='https://jewishvoiceforpeace.org/' target='_blank') Jewish Voice for Peace 
			

			.shadow
				
		h3
			a(href='https://fourcornersproject.org/' target='_blank') fourcornersproject.org