.note#ginling
	.inner
		h1
			a(href='https://mct.barnard.edu/' target='_blank') The View from Ginling
		h2 w/ 
			a(href='https://barnard.edu/profiles/gale-kenny' target='_blank') Gale Kenny
			em , Athena Abadilla, Kristen Akey, Sarah Ambrose, Sarah Barlow-Ochshorn, Sarah Broniscer, Juliana Clark, Jessica Cruz, Elayna Gleaton, Nina Havivi, Ariella Napoli, Alice Noah, Willa Smith, Helyn Steppa &amp; Angela Xia
		.text.max
			p This digital humanities project was created in collaboration with professor Gale Kenny at 
				a(href='https://barnard.edu/' target='_blank') Barnard College
				|  and the students of her Spring 2018 course titled 
				em Religion in the Archives
				| . Students learned to conduct archival research at the 
				a(href='https://library.columbia.edu/locations/burke.html' target='_blank') Burke Library
				|  at 
				a(href='https://utsnyc.edu/' target='_blank') Union Theological Seminary's
				|  with assistance from archivist at Union and Barnard. The course was focused around the papers of 
				a(href='http://www.columbia.edu/cu/lweb/archival/collections/ldpd_8529390/' target='_blank') Matilda Calder Thurston
				| , an American missionary and founder of Ginling College, the first women’s undergraduate college in China.

			p The students were divided into three groups with each taking on a major theme found within the material, and through further poring over the archives, developed research arguments. The shared goal of their research effort was to decolonize the archives by analyzing the intent for the collection’s original creation, which was to exemplify past (and support future) missionary work by western Christians on foreign lands. Their engagement with the collection aimed to recontextualize its content, make aware the missing voices and historical gaps it suffers from, and use the collected information in ways beyond its original purpose for compilation.

			p As the visiting teaching assistant and technologist, I worked with the students to lay the foundation for talks around the digital humanities and determine which tools could strengthen their arguments and properly display their findings. Throughout this collaborative teaching experiment, I developed the website, The View from Ginling, on 
				a(href='https://omeka.org/s/' target='_blank') Omeka
				|  which allowed students to properly catalog their selected documents from the collection (and material gleaned from outside institutions) using Dublin Core metadata standards and proper methods of digitization with assistance from 
				a(href='https://library.barnard.edu/' target='_blank') Barnard Library &amp; Academic Information Services
				|  (BLAIS) and their 
				a(href='https://imats.barnard.edu/' target='_blank') Instructional Media and Technology Services
				|  (IMATS). The site was built to be easily expanded on by students of future iterations of this course.
			.shadow

 
		h3
			a(href='https://mct.barnard.edu/' target='_blank') mct.barnard.edu