.note#mts
	.inner
		h1
			a(href="http://www.mappingthespirit.com/" target="_blank") Mapping the Spirit
		h2 w/  
			a(href="www.kameelahr.com" target="_blank") Kameelah Janan Rasheed
		.details
			h4 Supported by 
				a(href="https://www.magnumfoundation.org/" target="_blank") The Magnum Foundation
				| , 
				a(href="http://brown.columbia.edu/" target="_blank") The Brown Institute for Media Innovation
				|  &amp; 
				a(href="https://wp.nyu.edu/crm/" target="_blank") NYU Center for Religion and Media
		.text
			p An ongoing archival storytelling project that elaborates on the religious and spiritual articulations of people of African descent in North America. The interactive platform uses photography, video, audio, and text to tell stories and adds depth beyond the reductive “Black Church” narrative.
			p As an artist, archivist and photographer, my partner Kameelah Janan Rasheed is creating in-depth multi-media stories of an array of religious groups, beginning with the Moorish Science Temple of America. Her research and documentation focuses on individual collaborators’ personal spirituality and practices in juncture with the history and doctrine of their respective religious groups. This continuing project fits humbly within a larger effort to elaborate the narrative of religious practices of Americans within the African diaspora.

		h3
			a(href="http://www.mappingthespirit.com/" target="_blank") mappingthespirit.com
	.side.left
		.inner
			.top
			.bottom
	.side.right
		.inner
			.top
			.bottom