.note#nakba
	.inner
		h1
			a(href='https://nakba.amnesty.org/' target='_blank') Seventy Years of Suffocation
		h2 w/ 
			a(href='http://tanyahabjouqa.com/' target='_blank') Tanya Habjouqa
			| ,&nbsp;
			a(href='http://www.zivschneider.com/' target='_blank') Ziv Schneider
			| &nbsp;&amp;&nbsp;
			a(href='https://www.amnesty.org/' target='_blank') Amnesty International
		.text.max
			p What began with more than 700,000 Palestinians being forcibly displaced from their land through the creation of Israel and beginning of the violent occupation of Palestine in 1948 has turned into an even more devastating crisis as millions of Palestinian refugees continue to be denied their right to return home seventy years later.

			p Seventy Years of Suffocation is one of the many attempts to share with the world the lived experiences of Palestinians living under the myriad inhumane conditions caused by their displacement. These conditions are further worsened by the occupying Israeli government and their defense forces’ continued oppression and ceaseless violence inflicted on Palestinians as more land, lives and futures are stolen. Somehow despite this, the children, mothers and fathers featured in the project show glimpses of the familial love and enduring resiliency that sustains the survival of the people and culture of Palestine, and their undying belief they will one day return home. 

			p The site contains Tanya Habjouqa’s photographs, videos and interviews she created for the purpose of this project. Additionally, the end of each chapter contains archival, press, and citizen media to add depth and context. Ziv Schneider designed the editorial interface which I helped developed into an interactive platform for Amnesty International who initiated the project and whose staff conducted all necessary research. The site is offered in English and Arabic.

			p
				| Related resources
				ul
					li
						a(href='https://www.amnesty.org/en/countries/middle-east-and-north-africa/palestine-state-of/report-palestine-state-of/' target='_blank') Amnesty International's State of Palestine Report (2017/2018)
					li
						a(href='https://www.btselem.org/' target='_blank') B’Tselem: The Israeli Information Center for Human Rights in the Occupied Territories
					li
						a(href='http://theinvisiblewalls.btselem.org' target='_blank') The Invisible Walls of Occupation
					li
						a(href='https://jewishvoiceforpeace.org/' target='_blank') Jewish Voice for Peace 
			

			.shadow
				
		h3
			a(href='https://nakba.amnesty.org/' target='_blank') nakba.amnesty.org