.note#pcgd
  .inner
    h1
      .svg
        include ../assets/images/p/1.svg
        include ../assets/images/p/2.svg
        include ../assets/images/p/3.svg
        include ../assets/images/p/4.svg
        include ../assets/images/p/5.svg
        include ../assets/images/p/6.svg
        include ../assets/images/p/7.svg
      a(href="http://www.purchase.design" target="_blank")
        |urchase College Graphic Design Dept.
    h2 w/ 
      a(href="http://www.alexapostolides.com/" target="_blank") Alex Apostolides
      | , 
      a(href="https://www.behance.net/brandonshefton" target="_blank") Brandon Shefton
      | , 
      a(href="http://thedis4design.tumblr.com/" target="_blank") Dani Leggard
      | , 
      a(href="http://www.krystt.com/" target="_blank") Krystalina Tom
      | , 
      a(href="http://hyperakt.com/about/team/nick-dichiara/" target="_blank") Nicholas DiChiara
      | , 
      a(href="http://www.shannencraftdesign.com/" target="_blank") Shannen Craft
      | ,
      i=" Danny Fabricant & "
      a(href="http://2x4.org/people/" target="_blank") Emily Green

    .text While attending Purchase College, I collaborated with my friends in the Graphic Design, New Media &amp; Arts Management departments to build a website for the school's Graphic Design BFA Program. I developed the website on a custom built content management system that is (partially) 
      a.out(href="http://www.purchase.design/backend" target="_blank") open to the public
      |  as an alternative view of the site and its content.
    h3 
      a(href="http://www.purchase.design" target="_blank") purchase.design