.note#pcgd
  .inner
    h1
      .svg
        include ../assets/images/p/1.svg
        include ../assets/images/p/2.svg
        include ../assets/images/p/3.svg
        include ../assets/images/p/4.svg
        include ../assets/images/p/5.svg
        include ../assets/images/p/6.svg
        include ../assets/images/p/7.svg
      a(href='http://www.purchase.design' target='_blank')
        |urchase College Graphic Design Dept.
    h2 w/ 
      a(href='http://www.alexapostolides.com' target='_blank') Alex Apostolides
      | ,&nbsp;
      a(href='https://www.behance.net/brandonshefton' target='_blank') Brandon Shefton
      | ,&nbsp;
      a(href='https://www.instagram.com/danielleleggard/' target='_blank') Dani Leggard
      | ,&nbsp;
      a(href='http://www.krystt.com' target='_blank') Krystalina Tom
      | ,&nbsp;
      a(href='http://nidi.info/' target='_blank') Nick Di Chiara
      | ,&nbsp;
      a(href='http://www.shannencraft.com/' target='_blank') Shannen Craft
      | ,&nbsp;
      i Danny Fabricant&nbsp;&amp;&nbsp;
      a(href="http://2x4.org/people/" target="_blank") Emily Green

    .text
      p While attending Purchase College, I collaborated with friends in the Graphic Design, New Media, &amp; Arts Management departments to build a website for the school's Graphic Design BFA Program. I developed the website on a custom built content management system that is 
        a.out(href="http://www.purchase.design/backend" target="_blank") (partially) open to the public
        |  as an alternative view of the site and its content.
    h3 
      a(href="http://www.purchase.design" target="_blank") purchase.design