.note#rbma
  .inner
    h1
      a(href="http://rbma2014participants.com" target="_blank") Red Bull Music Academy
    h2 w/  
      a(href="http://othermeans.us" target="_blank") Other Means
    .text
      | Website announcing and introducing the&nbsp;
      img.click.balloon(src="assets/images/2014.png" data-data="confetti")
      | iteration of the&nbsp;
      span.click.toggle.logo(data-data="logo")
        img(src="assets/images/rbma.png")
        span="Red Bull Music Academy"
      | in Tokyo,&nbsp;
      span.click.toggle.japan(data-data="japan")
        img(src="assets/images/japan.gif")
        span#anthem
      | and the 60 artists selected to attend. Click around.
      
    h3 
      a(href="http://rbma2014participants.com" target="_blank") rbma2014participants.com