.note#revealer
	.inner
		h1
			a(href='https://therevealer.org/' target='_blank') The Revealer
		h2 w/ 
			a(href='https://wp.nyu.edu/crm/' target='_blank') NYU The Center for Religion &amp; Media
		.text
			p The Revealer is an online magazine that "reflects upon religion as a key point of intersection between beliefs, practices, politics, representation, economics, and identity, where the important forces that shape individuals, societies, and their relationship to each other, play out." The magazine is published by The Center for Religion &amp; Media at NYU, a collaborative center of NYU's Religious Studies Department and their Center for Media, Culture, and History and is edited by Kali Handelman.
			p As a monthly publication, The Revealer has amassed nearly 4,000 articles since its founding in 2003. The website is built to allow readers multiple access points to 
				a(href='https://therevealer.org/discover' target='_blank') discover
				|  the myriad ideas and text throughout its expansive archive.
		h3
			a(href='https://therevealer.org/' target='_blank') therevealer.org