.note#rz
	.pattern.top
	.pattern.bottom
	.inner
		h1
			a(href="http://readingzimbabwe.com/" target="_blank") Reading Zimbabwe
		h2 w/&nbsp;
			a(href="http://blackchalkblackchalk.com/" target="_blank") Black Chalk &amp; Co.
			| &nbsp;(
			a(href="http://nontsikelelomutiti.com/" target="_blank") Nontsikelelo Mutiti
			|  &amp; 
			a(href="https://twitter.com/tinsmush" target="_blank") Tinashe Mushakavanhu
			| )
		.text
			p A growing catalog of over 1000 books written and published about Zimbabwe over the past seven decades, spanning across five continents. The editorialization of this repository aims to problematize the production and dissemination of knowledge created about Zimbabwe, showing the unbalanced power that Western scholars have over a history and cultural identity far removed from themselves. Through a critical lens of the country’s colonial past and authoritarian present, Reading Zimbabwe investigates who writes the country’s history, and who has the access to learn it.
			p The website is optimized for mobile users in Zimbabwe and was designed with visual inspiration from Great Zimbabwe and the Khami Ruins.

		h3 
			a(href="http://readingzimbabwe.com/" target="_blank") readingzimbabwe.com