.note#ygdp
	.inner
		h1
			a(href='https://ygdp.yale.edu/' target='_blank') Mapping the Yale Grammatical Diversity Project
		h2 w/ 
			a(href='http://jackdesignstudio.com/' target='_blank') Jack Design
			|  &amp;&nbsp;the&nbsp;
			a(href='https://ygdp.yale.edu/research-team' target='_blank') Yale Grammatical Diversity Project
		.text
			p To assist in the publishing of research conducted by a team of linguists at Yale University, I developed a tool to plot their survey results on an interactive and filterable map to be embedded throughout their site. The Grammatical Diversity Project attempts to understand the nuanced differences in grammar syntax across the country by conducting and analyzing large-scale surveys. The data shown on the maps is anonymously collected survey results showing participants’ acceptability judgments of various linguistic “
				a(href='https://ygdp.yale.edu/phenomena-by-category' target='_blank') phenomena
				| .” In short, the survey takers rate odd sentences on how much sense, or lack thereof, it makes to them. 
				a(href='https://ygdp.yale.edu/phenomena/done-my-homework' target='_blank') Are you done your homework?

			p The maps can be seen embedded with context throughout the 
				a(href='https://ygdp.yale.edu/' target='_blank') site
				|  or viewed 
				a(href='https://map.ygdp.yale.edu/' target='_blank') directly
				| .
 
		h3
			a(href='https://ygdp.yale.edu/' target='_blank') map.ygdp.yale.edu